[2014-01-23 13:44] Lukasa opened #1 "Thread Safety"
The intended use-case of `hyper` is the current use-case of Requests. This means we need to work in the standard single-threaded case (easy), but also in the multithreaded case. The multithreaded case is where HTTP/2.0 can provide some of the biggest benefits thanks to the use of a single connection instead of many.

Unfortunately, this means that there will be a single `Connection` object and mul

[2014-01-23 13:52] Lukasa opened #2 "Connection Transparency"
Conceptually `hyper` can be split into two parts: a HTTP/2.0 client library and a 1.1-2.0 abstraction layer (in the future I may enforce that split if I extend `hyper` to provide server code too).

The abstraction layer is a point of interest, and I haven't figured out how the design should work. If people want to suggest implementation ideas, by all means go ahead.

[2014-01-27 18:45] Lukasa opened #3 "Consider compatibility layer"
It's been suggested that the compatibility layer might be a bad idea as a primary API, and instead worth moving to a separate location from which it can be imported (e.g. `from hyper import httplib_compat as httplib`. This would allow me to have a sensible API as the primary layer.

[2014-01-29 10:12] Lukasa opened #4 "Huffman Trie"
The HPACK specification pre-defines a Huffman coding table for use with the HPACK layer. This includes Huffman codes for sending requests (which we can use to encode) and Huffman codes for sending responses (which we can use to decode).

_Encoding_ data using the provided Huffman coding table isn't too challenging, we just use it as a dictionary. _Decoding_ data is a substantially different proble

[2014-01-31 09:31] #4 closed, assigned to nobody

[2014-02-10 19:41] Lukasa opened #7 "Integration Tests"
There's a relative lack of testing on the Connection/Response layer as I sprinted on it over the weekend. Address this by stealing @shazow's socket-level testing idea.

[2014-02-10 22:42] Lukasa opened #8 "Better TLS"
We should make it easier to provide your own certificates for verification.

[2014-02-11 09:40] Lukasa opened #9 "Certificates for Windows"
In `tls.py` we use `SSLContext.set_default_verify_paths()` to get the system certificate bundle. This works fine on my OS X development box, but leads to cert verification errors on Windows.

Options are either to use a Windows-specific version as well that we know will work, or to start bundling requests' CAcerts.

[2014-02-12 21:00] #7 closed, assigned to nobody

[2014-02-14 11:54] Lukasa opened #10 "asyncio backend"
It would be awesome if we could have an `asyncio`-based backend that exposes an optional synchronous API. I have no idea if we can do this or not but I'd love it if we could, it would clean the code up tremendously.

[2014-02-15 08:25] Lukasa opened #11 "Replace lists with deques."
There are a few places in the code where I'm using lists to store things (e.g. HPACK header tables) that I don't care about indexing in O(n), but I do care about prepending to in O(1). These should be replaced with deques.

[2014-02-15 08:51] Lukasa opened #12 "Logging"
We need to implement logging. HTTP/2.0 is complicated, and it would be very useful to be able to find out, for example, what frames we've sent in what order.

This involves the following stages:
- [x] Add logging to the HPACK encoder/decoder.
- [x] Add stream-level logging.
- [x] Add connection-level logging.

[2014-02-15 09:58] #11 closed, assigned to nobody

[2014-02-15 19:23] #12 closed, assigned to nobody

[2014-02-16 09:54] Lukasa opened #13 "Connections should be context managers."

[2014-02-16 10:03] Lukasa opened #14 "Stop holding on to closed streams forever."
Connections currently never remove streams from their stream dict. That's pretty stupid.

[2014-02-16 10:05] Lukasa opened #15 "Close connections gracefully."
We should send `GoAway` frames when we close a connection.

[2014-02-16 10:12] Lukasa opened #16 "Handle the :status header field better."

[2014-02-16 10:18] #16 closed, assigned to nobody

[2014-02-16 10:23] Lukasa opened #17 "Handle errors better"
Right now if `hyper` hits an error it just throws exceptions. This leaves the connection in an undefined state, and is fundamentally unusable from then on. We should start handling this better. 'Better' means two things:
- [ ] Errors on a single stream should cause us to send `RST_STREAM` frames. Exceptions should still be thrown, but the connection should be OK.
- [ ] Errors that affect the whole

[2014-02-16 10:40] #13 closed, assigned to nobody

[2014-02-16 11:49] Lukasa opened #18 "Get added to urllib3."
Let's start this discussion right now. I'd like to have `hyper` eventually be integrated into `urllib3`, giving all the happy HTTP/2.0 love to users of `urllib3` (and indirectly, users of Requests). What do we think `hyper` needs to make this happen?

I don't expect this to happen quickly, and certainly not until `hyper` is more mature, so let's have a really honest discussion about what we need.

[2014-02-16 11:51] Lukasa opened #19 "Write a Requests adapter"
As a shorter-term goal than getting into urllib3 (tracked by #18), let's try to get `hyper` some exposure by making it plug into Requests. This should lead to some really interesting experiments, e.g. running Twython over HTTP/2.0.

[2014-02-16 15:39] Lukasa opened #20 "Implement transparent request body decoding."
HTTP/2.0 mandates that all user-agents be able to handle encoded request and response bodies. We should steal the transparent handling from @shazow, like the dirty thieves we are.

[2014-02-17 19:41] Lukasa opened #21 "Better integration test infrastructure."
The integration tests are great, but they get really long and rely on a ton of implementation details, which is a bit lame. We should be able to abstract this away into a set of requests and responses and assertions about what they'll contain.

[2014-02-20 19:13] #20 closed, assigned to nobody

[2014-02-21 19:18] #9 closed, assigned to nobody

[2014-02-23 15:21] Lukasa opened #23 "Improve flow-control management."
In its current form, `hyper` is really stupid about flow control: whenever it receives a data packet it will issue a WINDOWUPDATE frame that extends the flow control window back to its original size. This leads to a huge amount of excess computation and network overhead.

Long-term, I want `hyper` to be able to make smarter choices about flow-control. In the short term, we can improve things by re

[2014-02-25 21:23] Lukasa opened #24 "Make responses context managers."

[2014-02-25 21:25] #14 closed, assigned to nobody

[2014-02-26 21:08] Lukasa opened #25 "Reach 100% test coverage"
We're doing pretty well on test coverage, but we can do better.

[code]

[2014-03-08 20:32] #24 closed, assigned to nobody

[2014-03-08 20:33] #1 closed, assigned to nobody

[2014-03-09 09:58] Lukasa opened #26 "Document size is currently not set by streams."
Window Managers can take advantage of knowing how large the document is going to be to affect the way they send WINDOWUPDATE frames. However, right now that parameter is never set.

[2014-03-09 11:09] #25 closed, assigned to nobody

[2014-03-11 20:22] #26 closed, assigned to nobody

[2014-03-17 19:59] Lukasa opened #27 "Streams have their windows backwards"

[2014-03-20 08:27] Lukasa opened #28 "Support plaintext HTTP/2 using HTTP Upgrade"
It would be nice if we could initiate HTTP/1. and then upgrade to HTTP/2 if the response allows us to.

This basically requires writing a HTTP/1.1 stack: I doubt aiohttp gives me the needed control.

[2014-03-20 08:28] Lukasa opened #29 "Support opportunistic encryption"
HTTP/2 currently has a provision for opportunistically encrypting HTTP/2 on port 80. It'd be nice if we could do that too.

[2014-03-20 08:30] Lukasa opened #30 "Support Alt-Svc"
Alt-Svc is another way of discovering HTTP/2 support. Again, we'll need a HTTP/1.1 stack for this.

[2014-03-20 08:32] Lukasa opened #31 "Support ALPN negotiation"
I'd like to do ALPN to negotiate HTTP/2 like basically everyone else does, but I can't because the standard library doesn't support it.

PyOpenSSL might be my best bet here.

[2014-03-30 02:04] alekstorm opened #32 "Update to h2-10"
Changelog [here](http://tools.ietf.org/html/draft-ietf-httpbis-http2-10#appendix-A.1).

[2014-04-04 07:43] #32 closed, assigned to nobody

[2014-04-04 08:42] Lukasa opened #35 "Include licenses for the code I've borrowed."
I've borrowed a pair of chunks of code (`SocketServerThread` in the tests and `DeflateDecoder` in the response) from @shazow's urllib3 project. Technically the MIT license requires that I distribute it along with that code, which I should really do. =)

[2014-04-05 20:58] Lukasa opened #37 "Update PyOpenSSL dependency."
When pyca/pyopenssl#86 is merged and a release is shipped with it, we'll want to update our dependency on PyOpenSSL to get NPN support in our 2.7 and 3.3 versions.

[2014-04-05 21:05] Lukasa opened #38 "Iron out ssl_compat module."
There are some TODOs and best-guesses in the `ssl_compat` module that I'd like to iron out at some stage.

No specific actions here, just a general 'stay aware' note.

[2014-04-08 10:46] #10 closed, assigned to nobody

[2014-04-09 09:45] Lukasa opened #41 "Implement smarter Window Manager"
We added pluggable window managers in 0.0.4. With that done, we should add a new default window manager that is much smarter about dealing with the flow control window.

[2014-04-09 09:47] Lukasa opened #42 "Only increase window size when frames are consumed"
Right now we increment the remote window size when frames are read off the wire, not when they're actually consumed. This can lead to `hyper` growing massive in memory when the user isn't actually reading those frames.

We should increment the window when the user is `read()`ing from the stream, not when `hyper` does.

[2014-04-09 09:47] #23 closed, assigned to nobody

[2014-04-13 21:56] #41 closed, assigned to nobody

[2014-04-14 12:01] #35 closed, assigned to nobody

[2014-04-14 12:10] #27 closed, assigned to nobody

[2014-04-14 12:54] #19 closed, assigned to nobody

[2014-04-14 14:59] Lukasa opened #46 "Make wheel universal."
We've got common source for 2.7 and 3.3, so we should have universal wheels.

[2014-04-19 16:09] #46 closed, assigned to nobody

[2014-04-21 10:02] Lukasa opened #49 "Update HPACK integration tests in future branch"
The hpack-test-case repository doesn't have many tests yet, and we need more: right now the future branch is skipping a whole ton of tests. See http2jp/hpack-test-case#12.

[2014-04-22 15:50] Lukasa opened #50 "HPACK encoder doesn't handle duplicate headers appropriately"
As seen in http2jp/hpack-test-case#13, there's a very specific edge-case behaviour where the HPACK encoder incorrectly handles repeated headers. Specifically, if a header set contains two _identical_ headers (both key and value) that is already in the reference set, we won't emit any headers, causing the output to contain only a single instance of that repeated header.

The nicest fix here is actu

[2014-04-28 09:50] Lukasa opened #51 "Ship a h2-12 pre-release."
Python 2.7 and 3.3 support are still blocked behind PyOpenSSL, which is blocked behind cryptography. Until those projects can get moving I'd like to keep releasing `hyper`. I therefore propose one of two paths:
- A pre-release version of 0.1.0 that supports Python 3.4 only.
- A minor version, 0.0.5, that supports Python 3.4 only, adding Python 2.7 support in 0.1.0.

[2014-04-30 19:22] Lukasa opened #52 "Do something intelligent with BLOCKED frames"
When we get a BLOCKED frame we should probably treat that as a hint to increase the window size, and also log at the warning level.

[2014-05-01 09:55] #52 closed, assigned to nobody

[2014-05-06 08:15] Lukasa opened #53 "Automatically retry streams"
GOAWAY frames carry a `last_stream_id` field that tells us which was the last stream that was definitely processed. I'd like to be able to automatically attempt to reconnect and resend streams that weren't processed.

[2014-05-06 08:15] #51 closed, assigned to nobody

[2014-05-19 10:29] Lukasa opened #54 "Remove all references to HTTP/2.0"
It's HTTP/2 now. This primarily affects the docs, we'll worry about interface changes later.

[2014-05-19 10:30] Lukasa opened #55 "Regularize docstrings"
Docstrings should have the form: description, then parameters, then return value. Unfortunately, at least one has the return value too early. We need to fix that up.

[2014-05-20 08:01] Lukasa opened #56 "Performance Tuning"
`hyper` is not optimised for performance right now. While the HTTP/2 spec is changing I want to focus on correctness and the ability to easily change behaviour.

However, when it _does_ get nailed down we'll want to make some steps to improve performance. Roberto Peon has provided an awesome list of things to work on, which I've reproduced here. People should take things off this list and break th

[2014-05-29 08:08] Lukasa opened #57 "Additional asyncio version"
Rather than port this library to `asyncio`, why not have a new library that re-uses some common code from here but uses `asyncio`? That allows easy support of `asyncio` without limiting the access to HTTP/2.

MORE PROJECTS.

Related: #10.

[2014-06-01 08:50] #50 closed, assigned to nobody

[2014-06-01 08:56] #55 closed, assigned to nobody

[2014-06-01 09:05] #54 closed, assigned to nobody

[2014-06-01 09:06] #49 closed, assigned to nobody

[2014-06-13 07:57] Lukasa opened #58 "Properly implement prioritisation."
Why the hell not?

Should be both inbound and outbound: that is, we understand server-signalled prioritisation and we can correctly signal and handle prioritisation chosen by our users.

[2014-06-14 17:39] Lukasa opened #59 "Need recv_into support in PyOpenSSL"
Turns out `PyOpenSSL` doesn't have an implementation of `recv_into`. This somewhat defeats the point of the BufferedSocket, which attempts to minimise the number of copies of data! Right now, the h2-10 branch build is failing because of this absence.

[2014-06-15 11:25] Lukasa opened #60 "Add optional support for nghttp2's HPACK implementation"
It would be nice to be able to have a `cffi` interface to nghttp2's HPACK implementation. That will always be faster and more memory-efficient than mine. A separate package is probably the way to go here.

[2014-06-15 11:25] Lukasa opened #61 "Use memoryviews in HPACK"
HPACK should use memoryview objects when decoding if at all possible to avoid copying memory all over the place.

[2014-06-17 20:16] Lukasa opened #62 "Bring hyper's HPACK implementation to draft-8."
Draft is [here](http://tools.ietf.org/html/draft-ietf-httpbis-header-compression-08). Side-by-side diff is [here](http://tools.ietf.org/rfcdiff?url2=draft-ietf-httpbis-header-compression-08.txt).

Things to change:
- [X] After applying an updated value of the HTTP/2 setting SETTINGS_HEADER_TABLE_SIZE that changes the maximum size of the header table used by the encoder, the encoder MUST signal thi

[2014-06-17 20:40] Lukasa opened #63 "Bring hyper to draft-13 of HTTP/2."
Spec is [here](http://tools.ietf.org/html/draft-ietf-httpbis-http2-13). Side-by-side diff is [here](http://tools.ietf.org/rfcdiff?url2=draft-ietf-httpbis-http2-13.txt).

Changes to make:
- [X] Make sure that HEADERS frames with END_STREAM set are allowed to be followed by CONTINUATION frames. (Completed in e59233f1d5bd9dc3a4019099de7df4bac369b545.)
- [X] Receiving frames of unknown type is no long

[2014-06-23 07:29] Lukasa opened #64 "Cipher Checking"
Setting ourselves to a really restricted cipher list as mandated by the specification breaks on Ubuntu 12.04 because Ubuntu are fucking terrible. I've spent all of yesterday trying to fix this and come up blank, so I'm going to take a new option:
1. Add a `HTTP20Connection` property called 'strict TLS' (or similar), defaulting to `True`.
2. In `HTTP20Connection.connect()`, if that parameter is `Tr

[2014-06-26 18:39] #62 closed, assigned to nobody

[2014-06-26 18:44] #63 closed, assigned to nobody

[2014-07-15 07:56] Lukasa opened #65 "Better 'concurrency'."
Right now `hyper` doesn't read frames until the user attempts to read data or our connection window closes. This is obviously a problem:
1. We will send all the data on a stream before we get a chance to read the RST_STREAM frame that the server sent after our HEADERS frame. This kind of behaviour will likely cause a server to kill our connection.
2. More generally, we don't find out about changes

[2014-07-26 13:25] #60 closed, assigned to nobody

[2014-08-01 11:43] Lukasa opened #66 "Update to HPACK draft -09."
HPACK draft 09 is out. The RFC is [here](http://tools.ietf.org/html/draft-ietf-httpbis-header-compression-09). The work we need to do is:
- [x] "Header set" is now called "Header list" (optional, code only).
- [x] Header sets preserve order.
- [x] Remove reference set.
- [x] Always encode ':' headers first.
- [x] Fields cannot be removed from the decoded header list.
- [x] Encoding contexts have b

[2014-08-01 11:50] Lukasa opened #67 "Add support for 1XX codes."
We should be better than httplib in this regard.

How do we do it? What's the good API?

[2014-08-01 11:52] Lukasa opened #68 "Update to HTTP/2 draft -14."
HTTP/2 draft -14 has been released, we should bring ourselves up to date. The RFC is [here](http://tools.ietf.org/html/draft-ietf-httpbis-http2-14). We have the following work to do:
- [x] Frame header format is changed (section 4.1). Changes are:
  - No leading reserved bits (previously 2).
  - Length is 24 bits, not 14.
- [x] New settings: SETTINGS_MAX_FRAME_SIZE and SETTINGS_MAX_HEADER_LIST_SIZ

[2014-08-01 13:17] #66 closed, assigned to nobody

[2014-08-07 11:58] Lukasa opened #69 "Enable processing for SETTINGS_MAX_FRAME_SIZE."
We should be able to offer the ability to send us larger frames if users want it. This is an obvious foot gun so it needs to not be too easy to do, but it should be possible.

Suggested API:

[code]

This should cause updated settings and the emission of the appropriate SETTINGS frame. Additionally, we should add validation of decoded frame lengths and reject anything that's too long.

[2014-08-07 12:00] Lukasa opened #70 "Enable processing for SETTINGS_MAX_HEADER_LIST_SIZE."
We should do something sensible with SETTINGS_MAX_HEADER_LIST_SIZE. Right now we ignore it. We should consider one of the following approaches:

1. Refuse to emit header lists longer than SETTINGS_MAX_HEADER_LIST_SIZE.
2. Warn when emitting header lists longer than SETTINGS_MAX_HEADER_LIST_SIZE.
3. Toggle between the two, defaulting to option (2).

My preference is 2 or 3, but I'm open to argument

[2014-08-07 12:01] Lukasa opened #71 "Come up with an API for 1XX responses."
This is not something `httplib` supports, so we have nowhere to take our lead from. This means we can do this right (or at least right-ish).

So what's our idealised API? /cc @sigmavirus24 for his brains, @shazow as the likely primary consumer of the API.

[2014-08-07 12:29] #68 closed, assigned to nobody

[2014-08-17 14:20] #67 closed, assigned to nobody

[2014-08-21 16:07] Lukasa opened #74 "Add HTTP/2 explanation document."
There aren't really many great resources on HTTP/2. I could write a series of blog posts about it, but it might be better to have them be available in a central location that is stored under version control, allowing many people to make edits.

It's just as easy for this to be part of `hyper`'s documentation, so why not do that?

The best HTTP/2 reference I know of is @bagder's [http/2 explained](

[2014-08-29 13:48] Lukasa opened #75 "Implement HTTP/1.1 support."
Over time it has become increasingly clear that `httplib`/`http.client` are a liability to requests/urllib3. Given that we'll need a HTTP/1.1 stack and that `httplib` is a liability, we should look into writing a new one.

This issue is a long-term goal, but is open to track the desired features from such a rewrite. This should be a list of mistakes that `httplib` has made that we should not make.

[2014-10-28 08:36] Lukasa opened #78 "Draft 15"
Draft 15 is released, available [here](http://datatracker.ietf.org/doc/draft-ietf-httpbis-http2/). We should move to it.

[2015-02-07 11:00] Lukasa opened #83 "Handle headers specified in the `Connection` header."
From the spec:

   connection-specific header fields; in this protocol, connection-
   specific metadata is conveyed by other means.  An endpoint MUST NOT
   generate an HTTP/2 message containing connection-specific header
   fields; any message containing connection-specific header fields MUST
   be treated as malformed (Section 8.1.2.6).

   present in an HTTP/2 request; when it is, it MUST NOT

[2015-02-07 11:50] Lukasa commented on #83
Ok, step one was released in v0.1.2.

[2015-02-07 11:50] Lukasa commented on #78
Released in v0.1.1.

[2015-02-07 11:50] #78 closed

[2015-02-07 15:48] jakubroztocil commented on #83
@Lukasa I wonder if you could remove it from the Requests' request headers as well. Otherwise it appears in HTTPie's output when the request headers are printed out.

[2015-02-12 14:05] t2y opened #84 "PROTOCOL_ERROR occurred when accessing twitter.com"
As described in [comments in pull/82](https://github.com/Lukasa/hyper/pull/82#issuecomment-73263780), for some reason, I tried to GET twitter.com, but `PROTOCOL_ERROR` occurred as below.

[code]

Removing `ENABLE_PUSH` in the setting frame makes it work.

[code]

I couldn't find [http2-17 spec](https://tools.ietf.org/html/draft-ietf-httpbis-http2-17) about why sending `ENABLE_PUSH` causes an error

[2015-02-12 14:31] Lukasa commented on #84
This is a known error in twitter.com. Somewhat appropriately I filed this as a bug report [via Twitter](https://twitter.com/Lukasaoz/status/563771664576811008).

Thanks for the update @t2y! This will be a good resource for others, but for now I'll be closing this as it's not a hyper bug. =)

[2015-02-12 14:31] #84 closed

[2015-02-12 15:09] t2y commented on #84
Oh, you already reported to twitter via twitter. Thank you!

[2015-02-18 14:26] Lukasa commented on #75
Ok, here's a proposed basic design principle.

HTTP/1.1 can be thought of as a special-case of HTTP/2, with the following limitations:

- Max concurrent streams forced to 1.
- Header frames 'compress' into linewise output.
- No frame headers.

This means we can conceptually implement HTTP/1.1 by having a special-case frame renderer. That allows the middle and top layers to be protocol-version agno

[2015-02-21 12:46] Lukasa commented on #83
Ok, the full set of work here is done, excepting the work tracked under jakubroztocil/httpie-http2#3.

[2015-02-21 12:46] #83 closed

[2015-02-21 12:47] #74 closed

[2015-02-21 12:48] Lukasa commented on #31
This support will be available in Python 3.5 and Python 2.7.10.

[2015-02-23 09:19] Lukasa opened #86 "Add support for proxies."
It would be nice if we supported connecting via proxies, both HTTP/2 and HTTP/1.1.

[2015-02-23 09:23] Lukasa opened #87 "Hyper CLI script fails to load HTML on Windows"
Observe:

[code]

[2015-02-23 09:23] Lukasa commented on #87
Note that this *may* be a Windows-only problem.

[2015-02-23 09:26] t2y commented on #87
Yes. I could run the same command on OS X.

[2015-02-23 09:28] Lukasa commented on #87
Cool, that makes narrowing this fix down easier. It's almost certainly because of this:

[code]

[2015-02-23 09:34] t2y commented on #87
The response data would be encoded with content-type charset. In this case, maybe `utf-8`, I guess your terminal (command prompt?) cannot output `utf-8` encoded string?

[code]

[2015-02-23 09:37] Lukasa commented on #87
Correct, Windows cannot, at least not by default. See [this bug](http://bugs.python.org/issue1602).

[2015-02-23 09:40] t2y commented on #87
Ah, sorry, I misunderstood reading the code. That's not encode, but decode with `utf-8`. So, the response data would be decoded as Unicode string. hmm,,,

[2015-02-23 09:43] t2y commented on #87
I see. That's a `print` function bug.

[2015-02-23 10:04] Lukasa commented on #87
Indeed. So the question becomes, how do we handle printing on Windows?

[2015-02-23 10:29] t2y commented on #87
I guess we can handle using `sys.stdout` with encoded string, instead of `print()` function. Could you try this patch on your Windows?

[code]

[2015-02-23 10:33] t2y commented on #87
I guess `locale.getpreferredencoding()` is the same as sys.getfilesystemencoding() in almost every case. However, I'm not sure which is appropriate.

[code]

[2015-02-23 10:34] Lukasa commented on #87
`locale.getpreferredencoding()` should be preferred, I think.

[2015-02-23 10:40] Lukasa commented on #87
That patch works fine on Window for the /html endpoint. It does not work for /encoding/utf8, but updating the `data.encode(encoding)` call to read `data.encode(encoding, errors='replace')` fixes that too.

[2015-02-23 10:41] t2y commented on #87
OK. If so, it's also better to use `locale.getpreferredencoding()` for request data, instead of `FILESYSTEM_ENCODING`.

[2015-02-23 10:43] t2y commented on #87
Thank you for confirming. I'm going to fix and send PR.

[2015-02-23 10:53] Lukasa commented on #87
Brilliant, thanks. =)

[2015-02-23 16:11] #87 closed

[2015-02-23 16:12] Lukasa commented on #87
Resolved by #88.

[2015-03-01 10:06] Lukasa commented on #75
@shazow Do you have any thoughts about what an ideal `httplib` replacement API would be?

[2015-03-01 18:25] shazow commented on #75
Aside from how you build/call requests, one big painpoint of httplib is the lack of clear granular state of a given connection/request at any given time, and poorly structured errors.

But yea, I agree with @dstufft, it would be best if there was a way to give some socket-like object and be like "ok treat this as HTTP v1.1, make request X to here" then have it let go of the object once the request

[2015-03-01 18:27] Lukasa commented on #75
What's the rationale for having the socket object not be owned by some kind of 'HTTP connection' object?

[2015-03-01 18:30] shazow commented on #75
It can be owned by whatever if it makes sense for it to be, but if you're managing your own sockets (e.g. urllib3) then all you want is something that knows the protocol you want to speak (http v1.1 or whatever).

The layers you have:
1. Socket setup and configuration (tls wrapping, etc)
2. Connection pooling
3. Retrying/timeouts/error handling
4. Request building and response reading
5. HTTP prot

[2015-03-01 18:44] Lukasa commented on #75
Ok, so here's some notes.

Socket setup and configuration needs to be HTTP specific because of HTTP/2. Socket setup for TLS connections determines which type of HTTP can be spoken over that connection ahead of time. 1 and 5 are therefore tightly matched. All hyper's connection objects should be able to take socket objects provided from elsewhere, but they will always prefer to create them themselv

[2015-03-02 09:25] Lukasa commented on #71
Further thought on this makes me wonder whether the `Expect: 100 Continue` flow should actually be special-cased by `hyper`. Something like:

[code]

Under the covers, `hyper` did the 'wait for 100 response' logic and sent the body onwards.

The advantage of this API is that the user doesn't need to worry about the exact semantics of the 100 response. All other provisional responses will be return

[2015-03-02 09:34] Lukasa opened #90 "Use `sendfile` when possible."
One way `nginx` achieves great performance when serving static files over HTTP/1.1 is by using the Unix `sendfile` API, which essentially writes data from one FD to another in kernel space.

There's no reason we shouldn't do that ourselves when sending files over HTTP/1.1. The [kernel function](https://docs.python.org/3/library/os.html#os.sendfile) was originally exposed in Python's OS module in P

[2015-03-02 09:38] dimaqq commented on #90
Note that sendfile means no SSL/TLS, while HTTP2 requires it (right?).
Proposed idea can still be useful within a data center though.

[2015-03-02 09:41] Lukasa commented on #90
HTTP/2 could not have used `sendfile` anyway, given that we need to split files up into multiple frames. Agreed that I should be clearer on when `sendfile` can be used:

- On Unix platforms
- On Python 3.3 or higher
- When using plaintext HTTP/1.1

[2015-03-03 10:31] dimaqq commented on #90
Technically you could `sendfile()` segments of file in http2 as well, but you'd only get performance improvement if segments are large enough.

Finally, is this a blocking socket? Then you can't have timeouts, etc.

And if it's a non-blocking socket, you are limited by TCP buffer size (a few megs IIRC) and you'd have to call `sendfile()` many times to complete the op.

Moreover, `select()/poll()`

[2015-03-05 15:54] Lukasa opened #91 "Do headers properly."
I'm sick of Python implementations insisting that headers are dictionaries. They aren't, it's a bad match. We can and should do better. [This gist](https://gist.github.com/Lukasa/d46acbe7ded37ea4492f) is a proposed initial implementation that's in the spirit of what Go does, which I think is a substantially better model.

Feedback is encouraged here. Note that this has been strongly influenced by

[2015-03-05 16:29] seocam commented on #91
I'd like to have more flexibility when setting headers. I use urllib3 in the core of reverse proxy implementation and I think that sending the headers in the same orders they came, or at least let the user play around with that could be good (or maybe not).

For sure what I'd like is that if a header comes twice I'd like to be able to send it in the same way it came instead of joining it in just o

[2015-03-05 17:18] Lukasa commented on #91
@seocam Note that the gisted implementation actually doesn't quite fit that bill. It's very opinionated: it splits all duplicate header fields out into their own line. It does this primarily to enforce some notion of 'canonical form', but it might be better to transform into canonical form at access time rather than in the underlying representation, and to allow a non-canonical representation of t

[2015-03-10 15:32] Lukasa commented on #65
Why not both?

Seriously, I don't know why it took me so long to come up with this idea, but it should be entirely possible to write a `Connection` class that expects to run in a 'concurrent' world. In fact, it should be possible to have it be 'Go-like' in its philosophy: no shared memory, all communication via queues. In that model, I *believe* (though I cannot yet prove) that I can do enough by

[2015-03-10 20:35] Lukasa commented on #75
Alright, see #92.

[2015-03-11 09:27] Lukasa opened #93 "Consider increasing flow control window size."
65 kB runs the risk of blocking us. According to Patrick McManus, Firefox uses 256 MB by default, so we should consider going a bit higher (though probably not that high).

[2015-03-12 07:31] michal-niklas opened #94 "hyper do not work on my Fedora"
I have problem with running Python `hyper` library that adds support for `HTTP/2` protocol.

On my Fedora machine I installed it with `pip` and `pip3` to use it with Python 2.7.8 and Python 3.4.1. Then I copied test script that connects with twitter:

	from hyper import HTTP20Connection

	conn = HTTP20Connection('twitter.com:443')
	conn.request('GET', '/')
	resp = conn.getresponse()

	print(resp.r

[2015-03-12 08:21] Lukasa commented on #94
Sadly, there are a number of tricky points here.

Firstly, on Python 2.7.8, this will almost always fail. This is because HTTP/2 requires that you use one of two SSL technologies, NPN or ALPN, to negotiate up to HTTP/2. Sadly, Python 2.7.8's standard library does not support NPN or ALPN. In principle PyOpenSSL could fix this problem, but my [NPN pull request](https://github.com/pyca/pyopenssl/pull

[2015-03-12 08:23] Lukasa commented on #94
While we're here, can you also show me the output of `python3 -c 'import ssl; print(ssl.OPENSSL_VERSON)'`?

[2015-03-12 08:45] t2y commented on #94
In my environment, I got the same error with Python 3.4.

[code]

But, other sites are available.

[code]

I guess http2 doesn't work now on twitter.com, but spdy/3.1.

![chrome-http2-indicator](https://cloud.githubusercontent.com/assets/96569/6614521/8ffa2518-c8de-11e4-9633-17a0f5ad8808.png)

[2015-03-12 08:52] Lukasa commented on #94
@t2y Can you dump the TLS handshake with Wireshark and see what NPN protocols are being advertised?

When I connect, I see twitter advertising h2, spdy/3.1, and http/1.1.

[2015-03-12 08:53] Lukasa commented on #94
@michal-niklas By the way, a good HTTP/2 testing tool is http2bin.org. I know it works because I manage it. =D

[2015-03-12 09:00] t2y commented on #94
@Lukasa hmm, I just confirmed that the return value of `ssl_sock.selected_npn_protocol()` is `http/1.1`.

[2015-03-12 09:10] dimaqq commented on #94
fyi, works for me:
python 2.7.9
hyper git
OpenSSL 1.0.2 22 Jan 2015
arch linux.

@michal-niklas please post openssl version on your system as visible to Python.

[2015-03-12 09:10] Lukasa commented on #94
Looks like Twitter's got different logic in different places in the world. Weird!

[2015-03-12 09:11] dimaqq commented on #94
@t2y and @michal-niklas please compare your `dig twitter.com`

Here's mine, from Europe:
twitter.com.            14      IN      A       199.16.156.198
twitter.com.            14      IN      A       199.16.156.38
twitter.com.            14      IN      A       199.16.156.6
twitter.com.            14      IN      A       199.16.156.70

[2015-03-12 09:12] Lukasa commented on #94
Mine, from the UK:

twitter.com.            30      IN      A       185.45.5.32
twitter.com.            30      IN      A       185.45.5.43

[2015-03-12 09:13] t2y commented on #94
That's funny, from Japan.

twitter.com.		19	IN	A	199.16.158.168
twitter.com.		19	IN	A	199.16.158.179

[2015-03-12 09:16] Lukasa commented on #94
Well Twitter's DNS is super weird.

Can we all confirm that `hyper GET https://http2bin.org/get` returns appropriately?

[2015-03-12 09:19] t2y commented on #94
Like this.

[code]

[2015-03-12 09:24] Lukasa commented on #94
Looks to me like Twitter are doing some A/B testing of HTTP/2 versus other protocols. I recommend, then, that people trial HTTP/2 against other services, such as http2bin, Google, etc.

[2015-03-12 09:29] michal-niklas commented on #94
I do not have `hyper` command, there are only such directories under `site-packages` for Python 2.7, and 3.4.

And my ssl version:

	[mn:~] $ python3
	Python 3.4.1 (default, Nov  3 2014, 14:38:10)
	[GCC 4.9.1 20140930 (Red Hat 4.9.1-11)] on linux

	'OpenSSL 1.0.1k-fips 8 Jan 2015'

	268439743

	<module 'ssl' from '/usr/lib64/python3.4/ssl.py'>

[2015-03-12 09:30] Lukasa commented on #94
@michal-niklas Ah, apologies, the 'hyper' command-line tool hasn't been released yet. I should do a release that contains it fairly shortly.

In the meantime, to try http2bin you can use:

[code]

[2015-03-12 09:32] michal-niklas commented on #94
OK. Example works with both Python 2.7.8 and 3.4.1 when I change address to:

    conn = HTTP20Connection('www.http2bin.org:443')

[2015-03-12 09:34] Lukasa commented on #94
Weird that it works with Python 2.7.8, but there we are.

Thanks for your help everyone!

[2015-03-12 09:34] #94 closed

[2015-03-12 09:44] dimaqq commented on #94
Coming back to original report, perhaps a custom error is needed for servers that don't support required protocol option?

[2015-03-12 09:50] michal-niklas commented on #94
I would also change address in documentation example code to something more stable than twitter.

[2015-03-12 10:02] Lukasa opened #95 "Throw better error for NPN failure."
Following on from #94.

[2015-03-12 10:03] Lukasa opened #96 "Improve documentation to show examples against http2bin.org, not Twitter."
Following on from #94.

[2015-03-12 10:03] Lukasa commented on #94
Both excellent ideas. See #95 and #96 for issues that track this work. =)

[2015-03-13 09:29] #96 closed

[2015-03-13 10:35] Lukasa opened #98 "Proper HTTP/1.1 parser"
Parsing HTTP/1.1 is substantially trickier than parsing HTTP/2. I'm happy with my HTTP/2 parsing code, but I'm not even close to happy with the HTTP/1.1 parsing code in #92 (that will eventually make it into `master`).

I think the ad-hoc parsing that's there right now is totally acceptable for an initial release, but as time passes we should really tighten it up.

There are some options here:

1.

[2015-03-13 10:58] Lukasa commented on #98
Actually, for Linux it might not be too bad, because `picohttpparser` doesn't have to link against Python itself. That means the `.so` should be fairly platform independent (he said, hopefully).

I think the way to think about this is to see if I can build a good cffi-based Python wrapper for `picohttpparser`. If I can, then I can bring that in as a dependency and solve this problem neatly.

[2015-03-13 11:03] Lukasa commented on #98
Btw, if @dstufft could weigh in with insights about packaging this stuff that'd be really helpful. I already know that @dstufft wants me to do (3) in some form. =D

[2015-03-13 16:23] Lukasa commented on #98
Some notes from an extremely helpful conversation with @reaperhulk and @dstufft (so I don't forget!):

[code]

This makes it seem like building a python wrapper for picohttpparser as a PyPI module and then depending on that might actually work.

[2015-03-14 14:43] Lukasa commented on #98
In a hypothetical world where hyper ends up in urllib3, how much difficulty does a cffi dependency represent.

[2015-03-14 14:44] Lukasa commented on #98
@dstufft In a hypothetical world where hyper ends up in urllib3, how much difficulty does a cffi dependency represent for pip?

[2015-03-14 15:48] dstufft commented on #98
Ideally you'd have a pure Python fallback, pip can't have a C dependency because of the bootstrapping problem. I recognize that's more work but an optional C dependency is most likely the best way to handle it, not just for pip but for anyone trying to use requests in a situation where C deps are less ideal.

[2015-03-15 11:48] zablotski opened #99 "AttributeError: 'module' object has no attribute 'PROTOCOL_TLSv1_2'"
Hello. I have problem with readme example.
OS: Mint 17.1
Python: 2.7
[code]
I have no experience with python, maybe I'm doing something wrong.
Regards,
Yevgeny

[2015-03-15 11:57] Lukasa commented on #99
Thanks for opening this issue Yevgeny, and thanks for trying out `hyper`!

HTTP/2 sets some very strict standards for the security of the connection, and one of them is that it requires TLSv1.2 for all connections. The Python 2.7 standard library does not provide access to this TLS level in any version earlier than 2.7.9, which means that `hyper` only supports Python 2.7.9 or Python 3.4+.

I recom

[2015-03-15 12:23] zablotski commented on #99
Thanks, it works fine for me.
P.S. In my environment alias for ```pip-3.4``` is ```pip3``` :wink:

[2015-03-15 12:25] Lukasa commented on #99
Excellent, I'm glad I'm able to help!

Hopefully the next release of Linux Mint will upgrade to Python 2.7.9, which will be a substantial improvement. =)

[2015-03-15 12:25] #99 closed

[2015-03-15 20:06] Lukasa opened #100 "Twisted support"
I've now been asked twice if I can port `hyper` to Twisted. Should be a matter of writing a `Connection` object for Twisted.

Might be do-able, certainly worth looking into.

[2015-03-15 20:07] Lukasa commented on #100
Twisted has an open issue [here](https://twistedmatrix.com/trac/ticket/7460), which I should keep track of in case someone gets there before me.

[2015-03-16 09:43] Lukasa commented on #59
For the moment I'm closing all pyOpenSSL issues, because I simply no longer have faith in the ability of pyopenssl to ship further releases.

[2015-03-16 09:43] #59 closed

[2015-03-16 09:43] Lukasa commented on #64
I'm unblocking this because I think PyOpenSSL is basically dead now.

[2015-03-16 09:45] Lukasa commented on #37
For the moment I'm closing all pyOpenSSL issues, because I simply no longer have faith in the ability of pyopenssl to ship further releases.

[2015-03-16 09:45] #37 closed

[2015-03-16 09:46] #2 closed

[2015-03-16 11:45] Lukasa opened #101 "Play around with QUIC"
[Using this](https://github.com/devsisters/libquic). See also [here](https://groups.google.com/a/chromium.org/forum/#!topic/proto-quic/MIogHT8wacA).

[2015-03-23 21:37] sigmavirus24 commented on #71
So, here's the fun thing. The spec (last I checked) said to wait for a `100 Continue` or a reasonable amount of time. What if `expect_continue` allowed for a float that was essentially "After x seconds, send the file anyway"

[2015-03-23 21:38] Lukasa commented on #71
Ooh, that's a good idea. It'll also allow for `true` which will choose a reasonable time (something like 1 second), but can take the float.

[2015-03-27 04:37] jdecuyper commented on #8
@Lukasa Could you elaborate a bit more on this feature? A property to update the path to the `certs.pem` file?

[2015-03-27 05:03] jdecuyper opened #108 "test_hitting_http2bin_org failing"
When test is run against `https://http2bin.org/status/200` following error is thrown:
[code]
I have set up the test as follow:
[code]

[2015-03-27 06:50] Lukasa commented on #8
Basically, something like the `verify` parameter that requests has was the original plan.

At this point though, I think the correct thing to do is to make it possible to provide an external `SSLContext` object.

[2015-03-27 06:52] Lukasa commented on #108
There are a few problems here.

The first problem is that you've mounted the adapters incorrectly: they need to be mounted at `https://`, not `http://`. The other problem is that you're testing that there's data in the body, but the `/status` endpoint does not return a body. =) I recommend using a different endpoint there.

[2015-03-27 08:57] Lukasa commented on #98
Ok, this is done and merged into #92: hyper will use pycohttpparser if it's available, and if not it'll fall back to using the pure-Python bundled version.

[2015-03-27 08:57] #98 closed

[2015-03-27 17:38] jdecuyper commented on #108
Okay, then I guess it would make more sense to run the `test_hitting_http2bin_org` test against https://http2bin.org instead of http://http2bin.org, right?

Thanks :)

[2015-03-27 20:50] Lukasa commented on #108
;) Yes, yes it would. Want to make that change?

[2015-03-27 21:26] jdecuyper commented on #108
Happy to help! Will open a PR soon.

[2015-03-27 21:26] #108 closed

[2015-03-31 08:19] Lukasa opened #110 "Support 'never indexed' headers."
Turns out our built in HPACK support does not correctly handle 'Literal Header Field never Indexed' headers, as mentioned in section [6.2.3](https://tools.ietf.org/html/draft-ietf-httpbis-header-compression-12#section-6) of the HPACK spec.

I found this when testing hyper's command line tool against https://docs.trafficserver.apache.org/en/latest/. As we can see in the output below, hyper gets tho

[2015-03-31 09:18] #110 closed

[2015-04-01 08:18] Lukasa opened #112 "HPACK logging incorrectly reports the number of consumed bytes"
You can see this in the debug output from running `hyper --debug https://docs.trafficserver.apache.org/en/latest/`:

[code]

I suspect this fix is as simple as switching `consumed` to `total_consumed` in the HPACK decoder. Leaving this on the pile for someone to pick up, as it's a nice simple fix to get started in hyper's codebase!

[2015-04-02 06:12] Lukasa commented on #112
Fixed by #113.

[2015-04-02 06:12] #112 closed

[2015-04-03 00:56] jdecuyper commented on #95
@Lukasa if the NPN version is not supported, would it be best to raise an error or display a debug statement?

In case of raising an error, I would add the following:
[code]

[2015-04-03 13:57] Lukasa commented on #95
@jdecuyper I think we need an 'ERROR' level log that says what NPN protocol was selected. I'm happy to leave the rest alone right now, as I'll shortly rewrite part of that code to handle upgrade logic instead.

[2015-04-03 18:20] Lukasa commented on #75
Merged! \o/

[2015-04-03 18:20] #75 closed

[2015-04-03 18:20] Lukasa commented on #28
Alright, this is possible now that I have HTTP/1.1 merged.

[2015-04-03 18:21] Lukasa commented on #3
Alrighty, we're on now that HTTP/1.1 is merged.

[2015-04-03 18:30] tyrelsouza opened #114 "Hyper seems to not import common.exceptions correctly"
Ran the example from PyPi and it didn't work because of an exception not being imported correctly.

Traceback:
[code]

[2015-04-03 19:54] Lukasa commented on #114
I believe this is fixed in v0.3.1.

Thanks for the report! :cake: :sparkles:

[2015-04-03 19:54] #114 closed

[2015-04-04 20:32] sigmavirus24 opened #117 "Receiving responses out of order"
This is a probably an instance of go read the RFC, but I half-expected the following to work:

[code]

For people, like myself, who haven't had a chance to read the docs it might be worth noting in the Streams section that responses need to be received in order, unless this is in fact an implementation bug.

[2015-04-04 20:40] Lukasa commented on #117
That's interesting! The docs actually point out that what you're doing definitely works, and I just tried it and it works fine.

Can you reproduce this consistently?

[2015-04-04 20:42] sigmavirus24 commented on #117
*misread the docs* I thought they did it in order.

I can reproduce it consistently. First I had a connection that I'd already made requests with and that was failing so I made a new one. By the way, this is all on Python 3.4 (which is ideally clear from the virtualenv path but I thought I should explicitly mention).

[2015-04-04 20:44] sigmavirus24 commented on #117
Actually, this is the other thing I noticed:

[code]

(Note this time, I retrieved the responses in order)

[2015-04-04 20:49] Lukasa commented on #117
You're seeing a fun variety of things here!

So, the only way I can see you having an empty socket object is if the connection was closed, but if that had happened I would have expected to see an exception.

Do you mind turning on debug level logging and showing me what's going on there?

[2015-04-04 21:10] sigmavirus24 commented on #117
Certainly.

[2015-04-04 21:15] sigmavirus24 commented on #117
I set it up to log just to `stderr` and this time couldn't reproduce getting them out of order, but could reproduce the second exception. The information is https://gist.github.com/sigmavirus24/dc231c0d9c7970c0b946

[2015-04-04 21:16] sigmavirus24 commented on #117
What looks relevant, at least to me, is this bit:

[code]

[2015-04-04 21:23] Lukasa commented on #117
Ok, so that second one is an interesting one: we're receiving a GOAWAY frame with error code zero: this indicates a graceful shutdown. It's not clear what's causing it, but obviously we need a bit of extra logic here.

This graceful shutdown as the first frame read while getting a response almost certainly means that the connection was gracefully closed after stream 3 was exhausted.

This is almos

[2015-04-04 23:53] sigmavirus24 commented on #117
Interesting. I'm not sure I'll have much time to work on a fix myself, but if I can test anything, let me know.

[2015-04-05 07:14] Lukasa commented on #117
Yeah, this fix is going to be tricky and multi-stage, but it really mostly affects you if you run from the interactive console: running from a script works fine (because the connection never goes inactive).

[2015-04-11 15:00] Lukasa opened #119 "Error code registry."
Right now if we get an unexpected GOAWAY we print this in the exception `hyper.http20.exceptions.ConnectionError: Encountered error 12, extra data b''.`. This is fine, but we can do better.

We should bring in the error code registry from the spec so that we can print something more like this: `hyper.http20.exceptions.ConnectionError: Error INADEQUATE_SECURITY (0xc): Negotiated TLS parameters not

[2015-04-11 15:01] Lukasa opened #120 "Split out framing layer into standalone library."
Following on from my talk at PyCon, I'd like to split the framing layer out into a standalone library that can be used by other projects without depending on all of `hyper`.

[2015-04-11 15:01] Lukasa opened #121 "Split HPACK layer into own library."
Following on from my talk at PyCon, I'd like to split the HPACK layer out into a standalone library that can be used by other projects without depending on all of `hyper`.

[2015-04-11 21:55] sigmavirus24 commented on #121
Stupid idea: What if we take advantage of having [@hapy](/hapy).

[2015-04-11 21:56] Lukasa commented on #121
Not a bad idea at all.

[2015-04-14 12:28] Lukasa commented on #100
Alright, [here](https://gist.github.com/Lukasa/a8b392f3f41433a9a473)'s an initial spike. This appears to work with hyper, at least a little bit.

[2015-04-14 15:48] Lukasa commented on #31
PyOpenSSL is now also unblocked!

[2015-04-14 15:50] Lukasa commented on #121
This is now done.

[2015-04-14 15:50] #121 closed

[2015-04-14 15:50] Lukasa commented on #120
This is now done.

[2015-04-14 15:50] #120 closed

[2015-04-16 12:11] #31 closed

[2015-04-16 12:11] Lukasa commented on #31
Hurrah, completed!

[2015-04-17 23:05] jdecuyper commented on #95
We can check if the NPN protocol is supported and only then log the error:
[code]
...or always display the selected NPN protocol when debugging is enabled:
[code]
I believe the second approach is more useful, what would you recommend?

[2015-04-18 09:26] Lukasa commented on #95
Agreed, I think the second approach is better.

[2015-04-29 06:37] jayvdb opened #130 "Python 2.6 support"
There is at least one syntax problem with Python 2.6

https://travis-ci.org/jayvdb/anyhttp/jobs/60482491#L1712

I havent investigated further, but would be happy to dig around a little and put up a comprehensive patch if there is interest in supporting Python 2.6.
(if not, feel free to close this issue as wontfix ;-))

[2015-04-29 07:54] Lukasa commented on #130
@jayvdb I'm interested to know why Python 2.6 support is something you feel you should provide. I'm generally in agreement with Alex Gaynor that [Python 2.6 should be abandoned](https://alexgaynor.net/2015/mar/30/red-hat-open-source-community/) because it's been unsupported for more than 18 months now.

As a result, my default position is that supporting Python 2.6 is out of scope. However, if you

[2015-04-29 08:23] jayvdb commented on #130
Hasten the day that py2.6 is abandoned, and I offer no reason for hyper to support it.  I only raised this issue as I didnt see any issue about this topic, and it is better to have a affirmative decision about minimum platform being supported.  http://hyper.readthedocs.org/en/latest/ says only "Python 3.4 and Python 2.7.9", yet I see 3.3(.5) tests all pass on https://travis-ci.org/Lukasa/hyper .

[2015-04-29 08:33] Lukasa commented on #130
Yeah, that's some weasel-wording. Python 3.3 was supportable, but PyOpenSSL didn't do what we needed it to do. That's changed, so I can now claim that Python 3.3 does work, and will likely update the docs to mention it.

Generally, I'm inclined not to add 2.6 support at this time. However, should anyone else come along with a compelling reason to support 2.6 then I'm open to the discussion.

@jayv

[2015-04-29 08:33] #130 closed

[2015-04-30 22:09] jdecuyper commented on #119
@Lukasa: we could have all the 13 error codes and descriptions loaded in some static array (see [spec](https://tools.ietf.org/html/draft-ietf-httpbis-http2-17#section-11.4)) and then just use the error code to index into it.

The file could be called `error_code.py` and be kept under `hyper.http20`, any comments?

[2015-05-01 06:01] Lukasa commented on #119
Sounds good to me!

[2015-05-04 22:48] jdecuyper commented on #119
@Lukasa hola amigo!

I'm wondering if this is the way I should throw the `GoAway` error:
[code]
Where `H2_ERROR_CODE_REGISTRY` is the new array containing all the error codes I have just added.

Should we make the error information available via the frame itself or have another exception for this?

I will try to add a new test that consumes a `GoAway` frame.

[2015-05-05 05:39] Lukasa commented on #119
Thanks works well. I don't think the frame itself should know about error code meanings. What you should do, however, is tolerate error codes outside the registry without exploding. =)

[2015-05-08 05:07] #119 closed

[2015-05-13 00:19] jdecuyper commented on #15
Hi @Lukasa!

Spec says: *Endpoints SHOULD send a GOAWAY frame when ending a connection, providing that circumstances permit it.*

So when shutting down gracefully we need to call `close` on all streams and then send a final `GoAway` frame on the connection control stream, something like:
[code]
I think we should also close the stream for connection control with id 0, but I'm not sure yet where it

[2015-05-13 04:40] Lukasa commented on #15
Stream zero always exists, and there is no need to explicitly close it.

A try...except block would be better style, but yes. =)

Sounds like a good idea to me!

[2015-05-15 06:33] Lukasa opened #134 "Update references to specs"
HTTP/2 is now [RFC 7540](https://www.rfc-editor.org/rfc/rfc7540.txt), HPACK is now [RFC 7541](https://www.rfc-editor.org/rfc/rfc7541.txt). We mention this stuff in docs a lot, best to go through and update the mentions.

[2015-05-25 22:33] jdecuyper commented on #69
@Lukasa

Initially the maximum frame size is `2^14-1`. This value can be changed by the endpoint (when receiving a settings frame) or by the client itself (using the `max_frime_size` property as you mention above).

When consuming a single frame (inside `connection.py`), I have added a check against the current max frame size:
[code]
So far so good or any comments before continuing?  :)
I guess we

[2015-05-26 17:57] Lukasa commented on #69
Whenever we send an `RstStreamFrame` we should delete the associated stream from our stream map. It may be worth pulling that into a helper method, as I believe we do similar things elsewhere in the code.

[2015-05-26 20:19] jdecuyper commented on #69
Yes, I'm going to add the following utility method to the connection class itself:
[code]
I detected already 5 potential calls to this method.

[2015-05-29 04:09] jdecuyper commented on #69
What I still need to add:
* `max_frame_size` property: using it will update the setting and cause the emission of the appropriate SETTINGS frame to the server.
* We should also check against max frame size when calling `_send_cb`, right?

[2015-05-29 16:06] Lukasa commented on #69
Let's do the `max_frame_size` property later, I don't think it's a high priority feature, and we want to handle it really carefully so that we can extend it to other settings.

As I note in my review, we definitely need to check against max frame size.

[2015-05-29 18:09] jdecuyper commented on #69
@Lukasa thanks for in depth review, will work on changes and come back.

What other feature would you consider high priority and being easy or intermediate to implement?

[2015-05-29 18:17] #95 closed

[2015-05-29 18:19] Lukasa commented on #69
Actually, scanning through the list, this might be the highest priority. =D

[2015-06-01 05:15] fredthomsen commented on #28
Long-time lurker here looking to contribute and I started taking a look at this.  Wanted to get your take to make sure I wasn't way off base before I try and finish it off.  Thanks

https://github.com/lukasa/hyper/compare/development...fredthomsen:plaintext_http20_via_http11_upgrade

[2015-06-01 09:48] Lukasa commented on #28
@fredthomsen This looks amazing! Go ahead and open a pull request with the work you have now, we can use it to track the development and provide feedback. =D

[2015-06-02 13:40] fredthomsen commented on #28
@Lukasa  #136

[2015-06-08 20:49] Lukasa commented on #28
Supported!

[2015-06-08 20:49] #28 closed

[2015-06-08 21:32] Lukasa opened #137 "Missing test coverage"
We're missing two tests: one that tests plaintext HTTP/2 connections work directly, without using SSL, and one that actually tests plaintext HTTP/1.1 upgrading to HTTP/2.

[2015-06-09 03:01] fredthomsen commented on #137
I'll take care of these tomorrow morning.

[2015-06-09 17:39] fredthomsen commented on #137
Started here #138

[2015-06-12 09:26] Lukasa opened #139 "State machine"
The H2 state machine is wrong.

In particular, it tries to handle CONTINUATION frames as part of the state machine. That just won't work, in part because it makes handling trailers essentially impossible. For that reason, I think we can remove the CONTINUATION handling and refactor to consider HEADERS + CONTINUATION a single jumbo frame.

[2015-06-13 08:17] Lukasa commented on #139
Resolved in d85b47d9a327956254cba526c564e86abb76d382

[2015-06-13 08:17] #139 closed

[2015-06-13 08:18] Lukasa commented on #137
Resolved in #138.

[2015-06-13 08:18] #137 closed

[2015-06-13 22:49] fredthomsen commented on #86
I have started to look into this.

[2015-06-14 12:47] Lukasa commented on #86
Awesome! Shout if you run into trouble or want advice, or hop into #python-requests on Freenode, where I spend a lot of time.

[2015-06-14 16:38] #8 closed

[2015-06-15 06:58] theSage21 commented on #93
How do we arrive on a good value?

- Hyper uses 65536 B
- Python3.4 and 2.7use 1048576 B

[2015-06-15 07:41] Lukasa commented on #93
I think we should aim at somewhere between 65,535 (2**16) and 268,435,456 (2**28). A nice power of two is a good idea. If we can't think of anything better, 2**24 is the next round power of 2, giving us a flow control window size of 16MB.

[2015-06-15 22:37] fredthomsen commented on #86
Would a bypass list for a session be worth including into this?

[2015-06-16 06:31] Lukasa commented on #86
I don't think so. =)

The way this normally works is that for a library at this level you just say "give me a proxy" or "don't give me a proxy". Higher-level libraries like requests worry about more complex function like exclusions

[2015-06-17 03:44] theSage21 commented on #93
I am drawing a blank on all fronts. Should I change it to 2**24 while we hunt for solutions with solid theory behind them?

[2015-06-17 07:13] Lukasa commented on #93
Yeah, let's use 2**24.

[2015-06-21 17:14] jimcarreer opened #141 "HPACK Dynamic Header Table not RFC Compliant"
I'm looking at the function _add_to_header_table(self, header), specifically the section that's evicting entries from the end.  Unless I missed something, this is implemented incorrectly: you initially set header_table_size to 4096 which in the RFC7540 is the initial value for the setting HEADER_TABLE_SIZE. However, eviction from the table only occurs when an addition to the table would result in

[2015-06-21 18:29] Lukasa commented on #141
@jimcarreer Thanks for raising this issue!

I don't believe your reading of the RFC is correct. This is subtle and annoying, so bear with me while I try to explain. :smile:

The HPACK spec, RFC 7541, has the following to say [in section 3.2](https://tools.ietf.org/html/rfc7541#section-3.2) on this topic:

In RFC 7540, the HTTP/2 spec, [section 6.5.2 says](https://tools.ietf.org/html/rfc7540#sectio

[2015-06-21 18:40] jimcarreer commented on #141
Ah I see now you're correct.  I mistook some other MAXIMUM_ setting to be the MAXIMUM_HEADER size for some reason when reading RFC7540.

[2015-06-21 18:40] #141 closed

[2015-06-21 18:42] Lukasa commented on #141
Easy to do, they aren't necessarily the clearest specs. ;)

Thanks for your input!

[2015-06-22 08:13] Lukasa opened #142 "HTTP upgrade can block"
When running plaintext HTTP/2 upgrades on my Windows machine (Windows 7, Python 2.7.10, Hyper version 0.4.0) I hit a timeout and the following traceback:

[code]

There's one obvious problem here: we should attempt to grab a response from the buffered socket *before* calling `fill`, as we may have already encountered all the data we need from the socket. At the very least, that should change.

How

[2015-06-22 08:15] Lukasa commented on #142
A quick check of Wireshark shows the 101 Switching Protocols *does* arrive, so why does recv_into block?

[2015-06-22 08:22] Lukasa commented on #142
This reproduces on Python 3.4. on Windows, so I believe this to be a Windows Python problem.

[2015-06-22 08:28] Lukasa commented on #142
Just quickly confirmed that recv_into does behave as I expect on Windows: it does appear to return as soon as any bytes are sent.

[2015-06-22 08:38] Lukasa commented on #142
Interesting. If I loop over the socket calls catching exceptions, we keep spinning for three whole socket reads before we return. This leads to a whole *ten second* delay.

More interestingly, the delay doesn't appear to be on our side necessarily. After those 10 seconds we receive a DATA frame from H2O, containing the HTTP/2 response, at which point everything comes through.

This is very weird.

[2015-06-22 08:41] Lukasa commented on #142
The real question still remains: why doesn't `recv_into` return until that data frame arrives?

[2015-06-22 08:49] Lukasa commented on #142
Ah, that data frame is an idle timeout from H2O, so it's not really material: that just means the connection is getting torn down to get recv_into to return.

What don't I understand here?

[2015-06-22 08:55] Lukasa commented on #142
This is definitely a Windows problem: a Linux box on the same network does not show this behaviour.

[2015-06-22 12:05] tatsuhiro-t commented on #141
For the record, yeah, @Lukasa is correct about the spec.

[2015-06-22 12:12] Lukasa commented on #141
Thanks @tatsuhiro-t! :cake:

[2015-06-23 13:36] Lukasa commented on #142
Hmm, a thought occurred to me and I quickly tried this out on httpbin.org. No blocking issue. This seems to be related to the 101 process, but I don't really know how that can be.

[2015-06-23 15:04] jimcarreer opened #143 "HPACK Encoder missing the never index encoding option"
This maybe because the implementation is strictly for a client, but is the pure python implementation of the encoder missing the ability to encode a "never indexed" literal / indexed name header? IE firstbyte |= 0x10?

[2015-06-23 16:25] Lukasa commented on #143
Yes it is.

I'm happy to take an enhancement for it, but it'll probably require an API extension to pull off because there needs to be some way to flag that we should emit a 'never indexed' representation. Not really sure what the best option is: maybe an optional third element in the header tuple?

[2015-06-23 16:28] jimcarreer commented on #143
Yeah. I'm guessing there's currently no way to specify it compay layer for nghttp either?  I think the 3rd tuple element would be a good place to start, possibly defaulting to None or Incremental when not present?

[2015-06-23 16:32] Lukasa commented on #143
Ooh, good question: a quick look at the nghttp2 source code suggests that it also cannot flag this.

@tatsuhiro-t, are you interested in collaborating here to come up with a Python API for specifying 'never-indexed' header fields? Or does nghttp2 have some magic I'm not aware of? (If it does, I may just copy nghttp2 for compatibility.)

[2015-06-23 16:35] Lukasa commented on #143
@jimcarreer It seems like you're interested in working on HPACK stuff: when we've worked out the API do you want to make the patch?

[2015-06-23 16:37] jimcarreer commented on #143
I can. I'm currently working on an implemtation for my company. Was also thinking about touching up the doc strings to reference specific RFC### and Sections.

[2015-06-23 16:38] Lukasa commented on #143
@jimcarreer Have you seen that the HPACK layer is factored out already? It's currently at [Lukasa/hpack](https://github.com/Lukasa/hpack), and is pip installable.

[2015-06-23 16:39] jimcarreer commented on #143
@Lukasa I have, I'll submit patches to that project directly.

[2015-06-23 16:40] Lukasa commented on #143
Brilliant. =)

Longer term I'm going to be looking to expand the scope of hyper to include a set of related projects, and I'll probably want co-maintainers for that stuff, so if you find yourself doing a lot of work on the HPACK layer I'd be happy to consider you for that role.

[2015-06-23 16:42] jimcarreer commented on #143
@Lukasa Awesome! I was thinking the HPACK decoder could possibly use some more robust error handling as well. Unless theres some mechanism for encoded header validation before decoding I'm not seeing.

[2015-06-23 16:44] Lukasa commented on #143
No, you're entirely right. Robust error handling would be great. The long-term goal should be to test that library to death using Hypothesis and AFL as well, but to get there we need to clarify the error paths first.

I'm working on a document that sets out my long term plan for Hyper, I should hopefully be releasing that sometime this week. Hopefully that'll lend some clarity.

For the moment, fe

[2015-06-23 16:56] Lukasa commented on #142
Aha, that's not true: it blocks *sometimes* on httpbin.org. This seems to be about timing.

[2015-06-23 17:22] tatsuhiro-t commented on #143
nghttp2 C API's header field struct is nghttp2_nv and it has flags field.  If application sets NGHTTP2_FLAG_NO_INDEX flag set, that header field is indexed with never indexed representation.
nghttp2 also automatically encodes Authorization header field and Cookie header field whose length is less than 20 bytes in never indexed representation just for safety.

nghttp2 Python HPACK API does not have

[2015-06-23 17:26] tatsuhiro-t commented on #143
FYI, 20 bytes limit of Cookie header field comes from Firefox source code.  It means low entropy cookie, could be subject to brute force guessing attack.

[2015-06-23 17:38] Lukasa commented on #143
Ok, so that feels like we have agreement there. @jimcarreer, you should feel free to take those action items, which split up as follows:

- Add a third tuple element that marks whether the item is sensitive.
- Add code for emitting the never-indexed header field for sensitive headers.
- In the Hyper client, add logic for the Authorization header and the low-entropy Cookie header field (I can do th

[2015-06-23 17:55] jimcarreer commented on #143
@Lukasa I'll get setup to work on that tonight after work!

[2015-06-29 23:37] Prandium opened #144 "Trusted certs pulled over insecure channel"
https://github.com/Lukasa/hyper/blob/7a4d51e9be65adee677f566a05f4a787cad7ba0d/Makefile#L4 The CA bundle should only be pulled over encrypted channels during the build to reduce the likelihood of someone man-in-the-middling the request and injecting their own trusted CA into the bundle.

[2015-06-30 07:13] Lukasa commented on #144
Certs are not pulled over an insecure channel, they're obtained from mkcert.org, as with certifi (explained in certifi/python-certifi#23). However, agreed that I should update the makefile.

[2015-06-30 07:17] Lukasa commented on #144
Resolved in 0741b55c3e1ede9e0c902cd82bb3dd2fd25f21f1. Thanks @Prandium!

[2015-06-30 07:17] #144 closed

[2015-06-30 17:44] Prandium commented on #144
Glad to hear it, thanks for the info.

[2015-07-20 07:43] Lukasa opened #146 "Hyper sometimes emits multiple RST_STREAM frames."
Seen when running the release tests for Hyper against nghttp2 (ignore the frame size issue, I'll track that separately):

[code]

In this case, we send three RST_STREAM frames to nghttp2. The reason for this is that we threw away our stream state on the first one, so all subsequent frames (that nghttp2 sent optimistically) trigger further RST_STREAM frames.

We need some form of lingering state to

[2015-07-20 07:45] Lukasa opened #147 "Hyper emits opaque errors when streams have encountered errors and got shut down."
Seen in the release tests:

[code]

The actual error here is that the stream was reset. We should be able to provide a more useful error than that. We might want to piggyback on the error from #146.

[2015-07-20 07:52] Lukasa opened #148 "Incorrect MAX_FRAME_LEN."
Seems like hyperframe has an incorrect value of MAX_FRAME_LEN, the initial maximum frame size. It's set to `(2**14) - 1`, but the correct value is `2**14`.

This is also a bug in hyperframe, which I'll track there as python-hyper/hyperframe#3.

[2015-07-20 08:11] Lukasa opened #149 "Too many RST_STREAM frames"
Weirdly, when communicating with http2bin.org, `hyper` seems to be RST_STREAMing every single stream:

[code]

That can't be right.

[2015-07-20 17:56] Lukasa commented on #148
Resolved in 9a6b46c95322562beb0609188afe01f5e3105464.

[2015-07-20 17:56] #148 closed

[2015-07-20 18:21] #149 closed

[2015-07-21 20:38] #146 closed

[2015-08-04 15:40] direvius opened #151 "TLS is not used when connecting via hyper CLI to port other then 443"
HttpConnection does not use TLS by default (and I haven't found a way to force it through CLI): https://github.com/Lukasa/hyper/blob/development/hyper/common/connection.py#L29-L31
I expected hyper to use TLS when connecting via CLI: ```hyper GET https://myserver:3000/```, since I've mentioned ```https```.

Also, I think that might be a security issue because hyper is mostly used for HTTP/2 communi

[2015-08-04 20:30] Lukasa commented on #151
There's a few different things going on here.

Firstly, the hyper CLI tool. That tool should absolutely be enhanced to use the scheme to set the `secure` argument on the HTTPConnection object: we should open a bug report for that.

Second, the `HTTPConnection` object itself. You're right that the HTTPConnection object only uses TLS when port 443 is requested, or when the `secure` flag is passed. I

[2015-08-05 09:48] direvius opened #152 "Impossible to override default headers from CLI"
Default headers are started with ':' and it is used to separate headers key and value in CLI arguments. And hyper does not add ':' to the specified key also. For example, hyper sets ```:authority``` to the hostname by default and you can't override it:
[code]
Or even this way:
[code]

[2015-08-05 11:05] direvius opened #153 "Hyper allows to have multiple :authority headers"
I haven't found a way to override the default ':authority' header. If I specify it in the request method, it uses both the default and specified values which causes '400 Bad Request'.
[code]

[2015-08-05 11:08] direvius opened #154 "Hyper CLI tries to decode 'application/octet-stream' using utf-8 codec"
Response headers:
[code]
Exception:
[code]

[2015-08-05 13:58] Lukasa commented on #153
Yup, this has been something I've wanted for a long time but haven't implemented.

[2015-08-05 13:59] Lukasa commented on #152
Agreed, this needs working on too. =)

(The reason I'm being somewhat non-committal on these reports is because I'm currently on holiday, so I don't have a *ton* of time to work on hyper at the moment. That said, there are definitely things that need to get done.)

[2015-08-05 14:29] Lukasa commented on #151
Proposed fix in #155.

[2015-08-05 20:38] #151 closed

[2015-08-05 21:07] Lukasa commented on #154
Fix now available in #156.

[2015-08-06 22:38] #154 closed

[2015-08-26 12:46] Lukasa opened #159 "Unexpected traceback from get_pushes function"
See:

[code]

Looks like the stream is going AWOL.

[2015-08-27 08:06] Lukasa opened #161 "PyPy builds are broken"
See [this build](https://travis-ci.org/Lukasa/hyper/builds/77454850) for more.

[2015-08-28 09:48] Lukasa commented on #161
Oh, cool, this is pyca/cryptography#299.

[2015-08-28 09:56] Lukasa opened #162 "Problems on systems using PyOpenSSL with bytestring hostnames"
With old Python versions, setting the hostname to 'http2bin.org' (a bytestring) causes this:

[code]

Fix is simple enough: we should add a check in `verify_hostname`.

[2015-08-28 12:47] sigmavirus24 commented on #161
And we now know that setuptools doesn't like the extras specifiers that we could have used to say `install X version on Y python version and Z version on W python version` :(

[2015-08-28 13:02] Lukasa commented on #161
@reaperhulk Thoughts?

[2015-08-28 13:05] Lukasa commented on #161
Ok, well we can just feature detect this:

[code]

[2015-08-28 13:35] #161 closed

[2015-08-31 04:07] fredthomsen commented on #86
Finally got back around to this after some distractions.  Making a pull request to make sure I am on the right track.

[2015-08-31 10:57] Lukasa commented on #159
So, I think we need to improve our handling of expiring streams: if they have unconsumed pushes on them we should terminate those pushes. We should then also update the docs to clarify that `get_pushes` should be used *before* reading the end of the stream.

[2015-08-31 11:34] #162 closed

[2015-09-01 15:11] sigmavirus24 opened #166 "Use cryptography 1.0.1 or greater once released"
This will allow us to remove the recently added conditional logic in setup.py to work around incompatibilities with PyPy prior to 2.6.0. Unfortunately this needs to be released first and is blocked by https://github.com/pyca/cryptography/issues/2306

[2015-09-01 21:02] nvenkat1982 opened #167 "cannot pass stream id/request id to get_response()"
Unable to pass stream id to get_response() when making multiple requests and trying to read responses out of order later.  Using latest hyper and have followed the example from streams section in document.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
TypeError: get_response() takes 1 positional argument but 2 were given

Traceback (most recent call last):
  File "<stdi

[2015-09-03 21:15] Lukasa commented on #166
Apparently @rbtcollins knows how to do a thing here, so I'll chase that up with him today.

[2015-09-03 21:44] Lukasa commented on #167
Thanks for the report @nvenkat1982! I have a fix available in #168.

[2015-09-27 16:26] jimcarreer commented on #143
We fixed this a while back.

[2015-09-27 16:26] #143 closed

[2015-10-11 14:20] Lukasa opened #170 "Validate IPv6 support."
According to @fredthomsen in #164, we have a number of places where we parse hostnames/ports that probably won't work when using explicit IPv6 addresses. We should fix that logic in those places and add tests to validate that IPv6 behaves appropriately.

[2015-10-11 15:27] #167 closed

[2015-10-16 04:56] fredthomsen commented on #170
Started looking at where this is done. So far I only see it in the constructors, so this may be rather simple.

[2015-10-28 10:02] koobs opened #173 "Missing v.0.5.0 repository tag"
PyPI version is currently at 0.5.0, but there is no repository tag for this version

[2015-10-28 10:28] koobs opened #175 "Fix packaging pain"
Many test related files are missing from the PyPI sdist, precluding downstream testing by users and OS packagers & porters. Among others:

- [ ] Add missing test files to sdist. tests/server.py tests/certs/* tasks.py test_* tox.ini
- [ ] Make [setup.py test command work](https://pytest.org/latest/goodpractises.html#integration-with-setuptools-test-commands) (running py.test)
- [ ] Add tests_requir

[2015-10-28 12:39] Lukasa commented on #175
@koobs Yeah, I figured! =) This hyper project has fallen a bit on the backburner recently while I've been getting Hyper-h2 up and running, but I appreciate the interest. I'll be refreshing this soonish (I hope), but in the meantime your feedback would be much appreciated.

In the short term, I'm happy to make appropriate changes to update the sdist.

[2015-10-28 12:47] koobs commented on #175
Of course mate. I'll make a checklist :)

[2015-10-28 12:54] koobs commented on #175
Updated title/description with checklist of changes I made downstream to have things 'just work' (not including failing tests)

[2015-10-28 13:37] sigmavirus24 commented on #175
So, I'm personally opposed to having more than one way to run the tests (i.e., making `python setup.py test` work). Tox is increasingly becoming *the* way to run tests for Python projects because of the automated virtualenv isolation and because running tests against something that isn't actually installed has proven to be fault-ridden and misleading.

[2015-10-28 17:11] koobs commented on #175
Right now, tox runs pytest, and pytest alone just works (as it should and does). That goes for any project that uses tox (along with their favourite test collector/runner). The distinction between test collection, test running and test environment provisioning needs to be made, as well as the audience for those tests. The *requirement* for tox for anything other than development or pre-release tes

[2015-10-29 00:15] Lukasa commented on #175
So, I intend to support this despite my misgivings. As a package author I *do not like* `setup.py test`, but I also accept that most downstream repackagers are insistent that it function correctly.

[2015-10-29 00:28] Lukasa commented on #173
Ok, v0.5.0 tag is now present. =)

[2015-10-29 00:28] #173 closed

[2015-10-29 00:51] Lukasa commented on #175
Ok, see #176.

[2015-10-29 01:18] Lukasa commented on #175
@koobs BTW, with these changes made I now get a clean test run on a brand-new FreeBSD 10 system. No hangs, no failures: executed via `python setup.py test`.

[code]

[2015-10-29 03:03] koobs commented on #175
You win @Lukasa thank you :) :star:

At a minimum (and considering individuals desires/misgivings of authors), it's worth mentioning that the test command *is* canonical and allows anyone to discover & run the test suite function no matter the implementation, without hunting for special files, tools or documentation, in the same way *make check* for autotools projects does. test_suite and tests_re

[2015-10-29 03:05] koobs commented on #175
@Lukasa  I will now start porting hyper-h2 ;)

[2015-10-29 03:32] koobs commented on #175
@Lukasa Very interesting on the no hangs, I'll test master in the port.

[2015-10-29 04:47] koobs opened #177 "test_integration*.py tests hang with Python w/o IPv6"
server.py [creates an AF_INET6 socket on _start_server](https://github.com/Lukasa/hyper/blob/development/test/server.py#L60) which hangs when run on Python that doesn't support, was built without, or runs on a system without IPv6 support.

This results in test_integration*.py tests hanging. Installing and using pytest-timeout produced the following stderr traceback, and stack:

![pytest-timeout-tr

[2015-10-29 05:32] #175 closed

[2015-10-29 05:35] Lukasa commented on #177
Ok, pushed a fix for this to `development`.

[2015-10-29 05:35] #177 closed

[2015-11-20 15:07] ushuz opened #178 "ssl.OP_NO_COMPRESSION raises AttributeError on Python 2.7.10 + OS X 10.11"
AttributeError was raised when I was following the example in documentation, using OS X 10.11 built-in Python 2.7.10.

[code]

[2015-11-20 15:20] Lukasa commented on #178
Sadly, `hyper` *cannot* function on the built-in OS X Python. This is because it's linked again OpenSSL 0.9.8zg, which does not support any of the TLS functionality required for HTTP/2. It is simply impossible to configure the SSL securely.

I recommend either installing and using Python from Homebrew, or installing a newer OpenSSL from Homebrew and using PyOpenSSL, linked against that newer OpenS

[2015-11-20 15:20] #178 closed

[2015-11-20 15:46] ushuz commented on #178
@Lukasa Thanks for your quick response and advice. I will give it a try. However, it may be better if a caution could be provided for OS X users in docs.

[2015-11-20 15:49] Lukasa commented on #178
That's a good idea. =) I'll welcome a pull request that adds it!

[2015-11-24 06:00] fredthomsen commented on #100
Interested in twisted.  Seems like you've done some work here already.  What state is this in now?

[2015-11-24 08:02] Lukasa commented on #100
It's very different than when I opened this issue, but the progress has been really good. See [Twisted issue 7460](https://twistedmatrix.com/trac/ticket/7460).

[2015-12-18 10:03] Lukasa commented on #61
Done! Thanks @irvind!

[2015-12-18 10:03] #61 closed

[2015-12-24 12:26] farefernandez opened #187 "Timeout handling"
Hi,

I'm using Hyper to connect to a HTTP/2 website and I'd like to be able to control timeouts (connection, read, dns resolver).

I don't seem to be able to find mentions to timeout handling in the documentation so I assume this could be seen as a feature request.

Thanks!

[2015-12-24 12:27] Lukasa commented on #187
Yup, this seems like a good feature request to me!

[2015-12-24 12:31] farefernandez commented on #187
Thanks Cory.

API-wise, we could have one global, coarse-grained timeout parameter which could refer to the sum of all of the components (connect, read, dns). This is what people usually should use.

Fine-grained timeouts could be added with specific parameters controlling each of the components.

[2015-12-24 12:37] farefernandez commented on #187
For reference, this is how requests does it (although the dns resolver timeout doesn't seem to be handled): http://docs.python-requests.org/en/latest/user/advanced/#timeouts

Relevant DNS resolver discussion: https://bugs.python.org/issue22889

Thanks!

[2015-12-24 12:37] Lukasa commented on #187
@farefernandez I'm a bit nervous about implementing an extremely complex timeout logic. However, if you were going in that direction the thing to do is to look at urllib3's `Timeout` logic and see if we can implement something somewhat similar.

[2015-12-26 08:22] fredthomsen commented on #17
Would it be appropriate/preferred to define each error in RFC7540 with a corresponding exception?

[2015-12-26 10:35] Lukasa commented on #17
@fredthomsen Nope, I don't think so. [This model](https://github.com/python-hyper/hyper-h2/blob/master/h2/exceptions.py#L17-L22) is better, I think.

[2015-12-28 14:33] fredthomsen commented on #17
Ok. I'll take a crack at this.  I'll start a pull request once I have something.

[2015-12-28 21:44] #153 closed

[2016-01-04 09:43] Johnykutty commented on #178
@Lukasa Even in my python 3.5 its showing error.
Full error is

[code]

How can I fix this?

[2016-01-04 09:45] Lukasa commented on #178
@Johnykutty Can you open a Python shell and show me the result of:

[code]

[2016-01-04 10:03] Johnykutty commented on #178
@Lukasa
Its  still 0.9.8zg
[code]

[2016-01-04 10:06] Lukasa commented on #178
Yup, so that's too old.

You really need OpenSSL 1.0.2 or greater. You can get it for OS X from Homebrew. You'll then need to compile a new version of Python that links against it. Alternatively, the version of Python you get from python.org may use a better OpenSSL.

[2016-01-04 10:09] Johnykutty commented on #178
I installed python from python.org (3.5). Actually I can connect to http2bin.org even with 2.7. But error occurs when I am trying to connect to apple push notification provider api

[2016-01-04 10:11] Lukasa commented on #178
@Johnykutty Are you connecting to http2bin.org not via port 443? Because that won't use TLS and so you won't encounter this problem, and 2.7 will work fine.

Note that 2.7.9 and later will work fine if you compile them against a newer OpenSSL.

[2016-01-04 10:16] Johnykutty commented on #178
Oh Yeah that is the problem. I am newbie to python development. Can you give me any reference  to do as you said?

My python version is 2.7.10
[code]

[2016-01-04 10:41] Lukasa commented on #178
@Johnykutty Well, if you install [Homebrew](http://brew.sh/), you can `brew install openssl` which will get you OpenSSL 1.0.2e. At that point you'll need to install a Python that links against it. You can either do `brew install python`, which will get you 2.7.11 linked against OpenSSL, or you can use [pyenv](https://github.com/yyuu/pyenv).

[2016-01-04 10:51] Lukasa commented on #178
Note if you use pyenv that you'll need to put Homebrew's OpenSSL into your linker path, by running (e.g.) `env LDFLAGS="-L$(brew --prefix openssl)/lib" CFLAGS="-I$(brew --prefix openssl)/include" pyenv install 2.7.11`

[2016-01-04 11:37] Johnykutty commented on #178
Thank you @Lukasa, But I tried this already these commands. Now it is saying that python-2.7.11 already installed, it's just not linked.

[code]

[2016-01-04 11:46] Johnykutty commented on #178
I found the way to link it
```brew link --overwrite python```

Thank you @Lukasa  for the help :)

[2016-01-12 06:54] fredthomsen commented on #17
https://github.com/Lukasa/hyper/pull/188

[2016-01-19 01:12] sevajide opened #190 "Missing window updates after INITIAL_WINDOW_SIZE update?"
#185 breaks some tests of mine.  I'm testing using a server that updates the initial window size via the settings value SettingsFrame.INITIAL_WINDOW_SIZE.  After #185, it freezes while reading a response greater than 64k, the original value of INITIAL_WINDOW_SIZE.

This suggests that the server is expecting a WINDOW_UPDATE that does not get sent.
Reverting 190e89462ae810cbcaabb87eb305ae2c6b4a163c

[2016-01-19 08:14] Lukasa commented on #190
Hmm, that seems likely to me. Let me take a quick look and see what I can see.

[2016-01-19 08:20] Lukasa commented on #190
Oh, hang on, that diagnosis isn't quite right. I think this is going the other way around.

So, to be clear, if the *server* sends SETTINGS_INITIAL_WINDOW_SIZE, that means the server is restricting the amount of data the *client* can send. The change that we're looking at affects the amount of data the *server* can send.

However, I think the end result is the same.

The big problem, AFAICT, is th

[2016-01-19 08:32] Lukasa commented on #190
Do you want to try applying the diff from #191 and see if that resolves your problem or introduces new ones?

[2016-01-19 13:53] sevajide commented on #190
The patch from #191 works! So far, there are no new issues. Thank you for addressing this so quickly.

[2016-01-19 14:23] Lukasa commented on #190
No problem. I'll see if I can think of a specific test to add for this regression and then merge #191.

[2016-01-19 15:28] #190 closed

[2016-01-22 01:20] schwartz1375 opened #192 "Hyper CLI AttributeError no attribute 'OP_NO_COMPRESSION'"
On Mac OS X 10.11.3, if I attempt to run the following:
$ hyper GET https://http2bin.org/
Traceback (most recent call last):
  File "/usr/local/bin/hyper", line 11, in <module>
    sys.exit(main())
  File "/Library/Python/2.7/site-packages/hyper/cli.py", line 244, in main
    data = request(args)
  File "/Library/Python/2.7/site-packages/hyper/cli.py", line 233, in request
    conn.request(args.me

[2016-01-22 08:16] Lukasa commented on #192
Your version of Python or OpenSSL is too old for us to safely secure the connection.

HTTP/2 puts some very strong requirements on the quality of the TLS used to establish the connection. One of these requirements is that TLS compression *must* be disabled. Your particular Python or OpenSSL does not expose `OP_NO_COMPRESSION`, which makes it impossible for hyper to disable it. Hyper correctly cons

[2016-01-22 14:27] schwartz1375 commented on #192
Python came as Apple's development tools package (Python 2.7.10 (default, Oct 23 2015, 18:05:06) )
$ python -c 'import ssl; print ssl.OPENSSL_VERSION'
OpenSSL 0.9.8zg 14 July 2015

[2016-01-22 14:28] Lukasa commented on #192
Yup, that version of OpenSSL is altogether too old to do HTTP/2. You'll need to replace it, probably using Homebrew.

[2016-01-22 14:28] #192 closed

[2016-02-04 11:22] evertlammerts opened #195 "Why not use SSLContext.load_default_certs in tls.init_context?"
You've probably given this some thought and I may have missed the documentation. Why are you shipping CA certificates and loading them in tls.init_context, rather than using SSLContext.load_default_certs?

[2016-02-04 11:30] Lukasa commented on #195
The short answer is that `load_default_certs` doesn't work properly on Mac OS X or Windows.

The long answer is that using the default verification logic on all platforms is tricky. It's something I'm working on: see the discussion in kennethreitz/requests#2966. The hope is that with PyOpenSSL we'll be able to properly use the system trust stores on all platforms properly, as things like Chrome do

[2016-02-04 13:04] evertlammerts commented on #195
Wow, CA trust is a much bigger mess than I already thought.

About shipping the bundle in Hyper: I see the shipped bundle is only used if the user doesn't provide their own `SSLContext`. Wouldn't it be more correct to require them to explicitly specify whether they want to use the shipped bundle rather than the default (ie `SSLContext.load_default_certs`, since that's used in `ssl.create_default_c

[2016-02-05 07:49] jonzlin95 opened #196 "Requests compatibility doesn't work with custom cert files"
Hi thanks for taking a look. Basically

[code]

the cert file is not passed along to

[code]

Thanks to everyone who's maintaining this library!

[2016-02-05 07:53] #196 closed

[2016-02-05 07:53] jonzlin95 commented on #196
Woops

[2016-02-06 08:28] Lukasa commented on #195
Right now I'm aiming to have it "just work", but it does need to be re-evaluated. At some point this library will get subsumed into the broader [Hyper project](http://python-hyper.org), and at that point I'll want to re-evaluate our policy on TLS. In the short term, "just works" is a suitable bar for me I think. =)

With that said, the idea of using a factory method here is a good one, and is prob

[2016-02-06 08:28] #195 closed

[2016-02-15 07:58] pkrolikowski opened #198 "Can't use example code"
Hi,
The problem is that I can't run example code.
Platform:
- Ubuntu 14.04.2 LTS
- Python:  2.7.6 (default, Jun 22 2015, 17:58:13) \n[GCC 4.8.2]'

Steps to reproduce error:
 1. pip install git+https://github.com/Lukasa/hyper.git
 2. run example code:
       from hyper import HTTPConnection
       conn = HTTPConnection('http2bin.org:443')
       conn.request('GET', '/get')
       resp = conn.get_re

[2016-02-15 08:10] Lukasa commented on #198
@pkrolikowski Thanks for the report!

The problems with `pyasn1_modules` and `characteristic` are unexpected: those should be resolved by the dependency tree, because I never import them from hyper. It seems that the PyOpenSSL you had is pretty severely broken. =(

I'm not sure how best to provide this debugging information: generally speaking hyper makes a best effort to get things to work on wha

[2016-02-22 13:08] #198 closed

[2016-02-24 20:41] #152 closed

[2016-02-24 21:03] #86 closed

[2016-02-26 00:13] natemara opened #206 "Problem sending JSON data as request body"
I am trying to do some testing using the http2 version of httbin: https://nghttp2.org/httpbin/. Posting to the url `https://nghttp2.org/httpbin/post` will respond with a JSON object containing information about the request. This JSON includes the body and data sent with the request. Using hyper, it appears that the data that I'm sending as the request body is not being sent. Here's an example:

	f

[2016-02-26 08:30] Lukasa commented on #206
@natemara Can you quickly test whether this problem is fixed by using the code from the `master` branch on GitHub?

[2016-02-26 15:03] natemara commented on #206
I installed the version from the master, and I'm getting the same results.

[2016-02-26 15:39] Lukasa commented on #206
Interesting. So this seems only to happen with nghttp2.org: with http2bin.org, the same problem is not observed.

@tatsuhiro-t, do you have any theories about why nghttp2.org/httpbin might not be receiving data?

[2016-02-27 03:11] tatsuhiro-t commented on #206
The difference between working client (e.g., nghttp) and hyper client is that former sends content-length, but hyper does not.  nghttpx (which forwards request to backend httpbin) uses Transfer-Encoding: chunked in HTTP/1, but httpbin seems to not support chunked request.  I have not verified httpbin code yet.  I just checked that request body without content-length was sent to backend using go HT

[2016-02-27 10:02] judepereira opened #207 "Jetty and Hyper"
Hey @Lukasa, continuing off Twitter:
I compared the tcpdump between Jetty and Hyper, with Jetty and Go. The connection was being terminated just after the handshake. Then it struck it, that the self-signed certificate must be imported into the Java keystore (I had done this just before I tried Go, but didn't do so with Python, as I was expecting Jetty to throw some CertificateException).

Okay, so

[2016-02-27 10:04] judepereira commented on #207
Note: I can read the response body in Jetty completely.

[2016-02-27 11:18] Lukasa commented on #207
So the problem here is in your handling of DataReceived. =)

Specifically, when your code receives data it forcefully closes the stream. The thing is, I saw your test client: it sends a POST with data in it! So that's probably not what you want.

In this instance, your DataReceived code should probably instead call [`conn.increment_flow_control_window`](http://python-hyper.org/h2/en/stable/api.htm

[2016-02-27 11:20] Lukasa commented on #207
Oh, by the way, and I know this is confusing: the actual project you're using here is tracked in the repo at [python-hyper/hyper-h2](https://github.com/python-hyper/hyper-h2). This is a separate but related library with a similar name. I screwed the naming up a bit here. ;)

[2016-02-27 11:52] #207 closed

[2016-02-27 15:44] judepereira commented on #207
Got it! What value should I use as the window size (the first parameter to increment_flow_control_window)?

Also, if I skip increment_flow_control and reset stream while processing the DataReceived event, everything seems to work (no exceptions anywhere), however I think I'm not closing the stream at all (it keeps incrementing and not reusing - reuses after I restart my Jetty client).

However, at

[2016-02-27 16:48] Lukasa commented on #207
For your parameter to `increment_flow_control` you should use `event.flow_controlled_length`.

So the reason your app is freezing is the same reason you can't just leave the DataReceived event unhandled. HTTP/2 maintains a flow control window for every stream, and one for the connection. That window shrinks for every DATA frame received. Hyper-h2 does not automatically increment the window for you

[2016-02-27 17:06] judepereira commented on #207
Thanks for the explanation @Lukasa! That helped me understand it better. Calling `increment_flow_control_window` for the connection made it work perfectly!

However, when I call it for the stream, it throws a stream ended error. All in all, just adding calling it for the connection, seems to work just well (100K was my benchmark).

Thanks for all your help!

[2016-02-28 08:05] Lukasa commented on #206
@tatsuhiro-t That's interesting: what WSGI server are you using to run httpbin?

[2016-02-28 08:08] tatsuhiro-t commented on #206
Gunicorn.  Does it answer your question?

[2016-02-28 11:19] Lukasa commented on #206
@tatsuhiro-t Hmm, that's interesting. http2bin.org uses H2O and gunicorn and doesn't display this problem. Weird.

[2016-02-28 12:20] tatsuhiro-t commented on #206
Will check how h2o behaves in this situation.  I think it is possible to calculate content-length if all request body is buffered.
BTW, why doesn't hyper client set content-length in request?  Certainly, there is no way to set, but in this case, it knows whole request body, so it can set content-length.

[2016-02-28 14:26] Lukasa commented on #206
@tatsuhiro-t Yeah, I think the lack of Content-Length in this case in hyper is a bug. That's ok. =)

[2016-02-29 13:37] tatsuhiro-t commented on #206
I checked what h2o does.  As I guessed, h2o sets content-length if the request body fits in its buffer.

[2016-02-29 15:06] Lukasa commented on #206
Good intuition! =)

[2016-03-15 08:57] derekchentrendmicro opened #209 "http response is not accepted by browser"
I created a simple HEADERS response followed by a DATA frame to the browser (both firefox and chrome)

hpack_encoder = Encoder()
frm_headers = HeadersFrame(stream_id)
headers = {":status": 200,"content-length": 2,"content-type": "text/plain"}
encoded_headers = hpack_encoder.encode(headers,huffman=False)
frm_headers.flags.add('END_HEADERS')
ssl_sock.send(frm_headers.serialize())
ssl_sock.send(frm_d

[2016-03-15 09:21] Lukasa commented on #209
So, that's an interesting idea. Right now, HPACK simply does not police this: it allows the possibility of emitting header fields that are not in order. That's obviously somewhat problematic whenever someone passes in a dictionary which can lose the order.

My inclination is to split the difference: if you pass HPACK a dictionary it will 'fix' the order for you, but if you pass an iterable of two-

[2016-03-15 14:39] Lukasa commented on #209
You can see the proposed change at python-hyper/hpack#32. If it resolves your problem @derekchentrendmicro, then please let me know and I'll aim to ship a release containing the fix.

[2016-03-15 14:48] Lukasa commented on #209
Also, fwiw @derekchentrendmicro, unless you're really trying to do something clever you may find [hyper-h2](http://python-hyper.org/h2/) is the tool you want, rather than constructing frames yourself.

[2016-03-16 02:54] derekchentrendmicro commented on #209
1. it's good, especially for testing, to have the choice to preserve the order or not.
2. I left my comment in your commit
3. Thanks for introducing me hyper-h2. It looks interesting. I'll see if it can fulfill my needs.

[2016-03-16 13:21] wangmengcn opened #210 "A question about Interface Document"
hi,when I read hyper intereface document at https://hyper.readthedocs.org/en/latest/api.html, a problem confused me.
HTTPConnection's parameter port——"The port to connect to. If not provided and one also isn’t provided in the host parameter, defaults to 443".
I think  something wrong is there, it should default to 80 not 443 in practice.
Looking forward your answer and wish you have a nice day!

[2016-03-16 13:41] Lukasa commented on #210
Good spot, the documentation is wrong: it does default to 80. Do you feel like changing the documentation there?

[2016-03-16 16:20] #209 closed

[2016-03-17 03:24] wangmengcn commented on #210
I'd like to ,but I don't know how to do that =.=

[2016-03-17 20:06] #210 closed

[2016-03-23 16:39] mylh opened #213 "inform about ALPN/NPN support on local/remote"
Hello,

I encountered the following issue when connect to Apple push notification service with hyper. Current APNS endpoint uses HTTP/2. Connects from python 2.7.10 works good, but when I try to connect from python 3.4 I just get ConnectionReset error every time. After spending some hours for investigation I ended up with the following. APNS does not support NPN (which is considered obsolete as I

[2016-03-23 16:47] Lukasa commented on #213
@mylh Yeah, this is admittedly a concern. The debuggability of it is a real issue, but it's mildly problematic to resolve in a way that doesn't have some really unfortunate usability problems:

- Either we add a configuration flag for this, which is a slightly tricky thing to do in a way that is clear.
- We can assert in situations where neither NPN or ALPN are available (not really ideal, and wou

[2016-03-23 16:55] mylh commented on #213
Well I should search for APNS in the repo :) I think I would go with the patch. The problem arises with Ubuntu 14.04 where python is in 2.7.6 and 3.3. and this is the default Ubuntu LTS release now :(
I will think about a way to implement this in hyper considering your input. If I have ideas will definitely share

[2016-03-23 16:57] Lukasa commented on #213
Arg, yeah, the Ubuntu LTS releases are a problem. You'd find that even with newer Pythons your OpenSSL is too old, and doesn't support ALPN anyway (ALPN was added in OpenSSL 1.0.2). So you really have no option but to just circumvent it.

[2016-03-28 09:42] yuvadm commented on #213
I was getting the exact same problem on Python 3.4 on Heroku. Luckily I can simply bump up the runtime. So now when testing on 3.5.1 I'm still getting:

[code]

Any configuration I need to change?

[2016-03-28 09:44] Lukasa commented on #213
In this situation the connection is getting forcibly closed. The problem here seems to be that hyper is sending a HTTP/1.1 request, presumably because either you don't have ALPN available (and so no protocol was negotiated) or because you used a non-https URL.

The version of hyper in the master branch allows you to tell hyper to ignore the ALPN negotiation and to assume a given result, but by def

[2016-03-28 09:46] yuvadm commented on #213
@Lukasa thanks for the quick response! Any idea why ALPN isn't available here despite using python 3.5.1?

[2016-03-28 09:57] Lukasa commented on #213
So ALPN is only available on newer OpenSSLs, as you've discovered. My bet is that Heroku by default uses Ubuntu 14.04 for its base OS, which contains OpenSSL < 1.0.2: sadly, ALPN was introduced in OpenSSL 1.0.2.

I'm not sure how troublesome it will be to provide yourself with a new OpenSSL on Heroku, but the answer is probably "somewhat troublesome".

[2016-03-28 09:58] yuvadm commented on #213
@Lukasa that's what i'm trying to figure our right now. I've built custom buildpacks before, but need to refresh my memory. I'll update here for posterity once I figure it out :) thanks!

[2016-04-07 08:01] #166 closed

[2016-04-07 08:01] #100 closed

[2016-04-07 08:01] Lukasa commented on #100
This is, for obvious reasons, not directly relevant to this module anymore.

[2016-04-07 08:02] Lukasa commented on #69
This is done now. =)

[2016-04-07 08:02] #69 closed

[2016-04-07 08:02] #70 closed

[2016-04-07 08:03] Lukasa commented on #57
This isn't relevant to this module anymore, hyper-h2 owns this kind of thing now.

[2016-04-07 08:03] #57 closed

[2016-04-07 08:04] #134 closed

[2016-04-07 09:36] rbtcollins commented on #166
Hi, what thing?
On 7 Apr 2016 8:01 PM, "Cory Benfield" <notifications@github.com> wrote:

[2016-04-07 09:51] Lukasa commented on #166
In this instance, nothing anymore. =) Time has happily resolved this problem.

[2016-04-08 11:07] AvivC opened #216 ""An established connection was aborted" error when running the tests on a Windows machine"
Hello,

I have forked and cloned the project. Running the tests using `py.test` on my Windows machine, two tests fail in `test_integration.py`: `test_connection_string` and `test_initial_settings`. Both fail with the following exception:

    error: [Errno 10053] An established connection was aborted by the software in your host machine

This exception is raised when calling `self._sslobj.read(len

[2016-04-08 11:18] Lukasa commented on #216
Hey, thanks for taking a look at the project! The easiest way to run the tests is to use tox, which is what I recommend doing (it'll handle doing the installation).

The error message there is very unclear: is it consistent? That is, if you rerun the tests a few time, does it always appear and always appear on only those tests?

[2016-04-08 11:25] AvivC commented on #216
Yes, the error always appears (also after restarting my machine), and always with the same two tests. I'm running Python 2.7.
BTW, in order to use tox, do I need to install Python 3.5, 3.4 and PyPy manually?

[2016-04-08 11:29] Lukasa commented on #216
There is no requirement that you run tox for all the Python versions on your machine: just ignore the complaints about having them missing.

That's very interesting! Does it happen if you run *just those* tests (using the -k argument to pytest)?

[2016-04-08 11:50] AvivC commented on #216
Yes, running:

    py.test -k "test_integration and test_connection_string or test_initial_settings" -vv

shows only these two tests failing.

I'll be happy to investigate this further later this day. Will keep you posted :)

[2016-04-08 11:50] Lukasa commented on #216
that would be great. =) I'd love to know what's going on there.

[2016-04-11 12:28] vfaronov opened #219 "Malformed HTTP2-Settings"
Hyper produces the HTTP2-Settings header as follows:

    headers[b'HTTP2-Settings'] = base64.b64encode(http2_settings.serialize_body())

This uses the default Base64 alphabet with padding. But [RFC 7540 § 3.2.1](https://tools.ietf.org/html/rfc7540#section-3.2.1) requires the [URL- and filename-safe Base64 alphabet](https://tools.ietf.org/html/rfc4648#section-5) with padding removed. So it should

[2016-04-11 12:29] Lukasa commented on #219
I think you're absolutely right. =)

Are you interested in providing a patch for this?

[2016-04-11 12:34] vfaronov commented on #219
Sure, will do.

[2016-04-11 14:13] #219 closed

[2016-04-12 23:05] tbetbetbe commented on #216
This might be addressed by #221.  That change solves a similar issue to the one you have described that  I was seeing when testing on a Mac.

Can you pull that change and let me know if it resolved the issue ?

[2016-04-18 02:53] ojii opened #224 "Issues in long running script"
We're using hyper in a long running script, opening a single connection and re-using it. So far we've encountered two problems with that, though it looks like both are a manifestation of the same thing, the connection being closed by the remote end. I don't think this is something hyper can/should handle itself, but maybe it should raise more obvious errors (that are also easier to catch).

The fi

[2016-04-18 06:45] Lukasa commented on #224
Hi @ojii!

It's entirely possible that there are real problems here: because HTTP/2 uses long-running connections, handling the logic in a clean way is a bit tricky and we haven't gotten around to solving that problem yet.

In the first instance, are you running hyper from PyPI or from the GitHub development branch? Several patches have gone into the development branch that may help resolve this i

[2016-04-18 07:03] ojii commented on #224
We're running `hyper==0.5.0` (from PyPI). I will see if there's a good way for us to test with hyper straight from Github. Are there any plans for new PyPI releases in the near future?

I'm not sure hyper should magically reconnect, but a meaningful error that users could catch would be really nice.

[2016-04-18 09:49] sammachin opened #225 "Issues with Amazon Alexa Voice Service"
Amazon have released a new API for Alexa but its HTTP/2 only, this is my first attempts with http/2 but there seems to be a problem with accessing the amazon API using hyper, other test servers work fine and I can also connect using curl, I get this error using either hyper on the command line or in a script.
(Token redacted to XXXXX, message me if you need a token to test with)

root@AlexaPiV2:~/

[2016-04-18 10:13] Lukasa commented on #225
Thanks for raising this issue!

So it seems like Amazon has done the same as Apple's push notifications service, and only offers ALPN for the negotiation. Your machine seems like it doesn't have a new enough OpenSSL to negotiate with ALPN, so hyper concludes that it can't safely use HTTP/2: Amazon concludes otherwise.

The current development branch has a `force_proto` kwarg you can use with the A

[2016-04-18 10:32] sammachin commented on #225
Sure, can I just check how to install the dev branch to get the CLI? for this one I just did pip install

[2016-04-18 10:45] Lukasa commented on #225
Sure, run `pip install git+https://github.com/Lukasa/hyper.git@development`

[2016-04-18 10:50] sammachin commented on #225
root@AlexaPiV2:~# pip install git+https://github.com/Lukasa/hyper.git@development
Downloading/unpacking git+https://github.com/Lukasa/hyper.git@development
  Cloning https://github.com/Lukasa/hyper.git (to development) to /tmp/pip-wcxAmZ-build
  Running setup.py (path:/tmp/pip-wcxAmZ-build/setup.py) egg_info for package from git+https://github.com/Lukasa/hyper.git@development
    error in hyper se

[2016-04-18 11:10] Lukasa commented on #225
What pip version do you have? Seems like it can't handle the pip version specifiers being used.

[2016-04-18 11:16] sammachin commented on #225
root@AlexaPiV2:~# pip -V

pip 1.5.6 from /usr/lib/python2.7/dist-packages (python 2.7)

I'm running on a RaspberryPi with the latest Raspian build

On Mon, Apr 18, 2016 at 12:10 PM, Cory Benfield <notifications@github.com>
wrote:

[2016-04-18 11:30] Lukasa commented on #225
Yeah, pip 1.5.6 is quite old. This might be fixable on the development branch but I'm currently on my phone at an airport so I can't check until later. In the meantime, if you're familiar with virtualenv you can create one of those and then upgrade pip inside it (`pip -U pip`) then try the install.

[2016-04-18 11:31] sammachin commented on #225
Thanks, I'll have a play later, should get back to the day job! have a good
flight

On Mon, Apr 18, 2016 at 12:30 PM, Cory Benfield <notifications@github.com>
wrote:

[2016-04-18 23:52] matangover commented on #213
For anyone else coming here looking how to run Python with ALPN support (OpenSSL 1.0.2) on Heroku, see instructions here: [Compiling Python with custom OpenSSL on Heroku](https://gist.github.com/matangover/82b2c005740f0a2db8a91e910ddd2f0a). Hope this helps :)

[2016-04-19 07:27] Lukasa commented on #213
Thanks for that note @matangover! :sparkles:

[2016-04-19 07:28] Lukasa commented on #224
There are, though right now I'm totally slammed working on a number of Python HTTP/2 things which means I'm stretched pretty thin. I have a few more improvements I'd like to make before releasing the next PyPI release, ideally, though at this point we may have diverged far enough from the current PyPI release that I should just bite the bullet and ship what we have.

[2016-04-19 16:07] lithiumlab opened #227 "Multipart Body on HTTP20Connection request"
Any information, examples or directions on how to create a multipart body?
On the code comments of hyper body is about a file-like object or bytestring

[code]

Im getting this error exception when accessing a external api that expects a multipart body.

[code]

Any help, links to samples or hint would be appreciated.

[2016-04-19 16:11] Lukasa commented on #227
@lithiumlab Hyper is much lower-level than many of the libraries you'll be used to using, and does not provide a hook for producing a multipart body. For that reason, you may want to try using the transport adapter for requests provided [in this module](https://hyper.readthedocs.org/en/latest/quickstart.html#requests-integration), which should give you requests' tools for building the multipart bo

[2016-04-19 16:16] lithiumlab commented on #227
Great. Thanks for the quick reply!

[2016-04-19 19:03] sammachin commented on #225
Got the dev branch installed in a venv, however now I'm getting a new error:
`(newpip) root@AlexaPiV2:~/newpip# hyper --debug --h2 GET https://avs-alexa-na.amazon.com/v20160207/directives 'Authorization:Bearer XXXX'
Url Info: {'secure': True, 'fragment': None, 'netloc': 'avs-alexa-na.amazon.com', 'host': 'avs-alexa-na.amazon.com', 'query': None, 'path': '/v20160207/directives', 'scheme': 'https',

[2016-04-19 19:13] Lukasa commented on #225
Ah, yes. Ok, that's a real bug. I'll take a swing at it in the next 24 hours: should be an easy fix.

[2016-04-19 19:14] sammachin commented on #225
oh cool thanks :)

On Tue, Apr 19, 2016 at 8:13 PM, Cory Benfield <notifications@github.com>
wrote:

[2016-04-20 10:57] Lukasa commented on #225
@sammachin I believe I've fixed this: want to try again with the new tip?

[2016-04-21 00:53] nicholasjconn commented on #225
I've been following this thread since its inception, and I'm happy to say that hyper is now working just fine with Amazon's AVS.

Thanks for actively developing hyper and keeping up on this kind of stuff! It is much appreciated.

[2016-04-21 08:25] Lukasa commented on #225
@nicholasjconn Happy to do it! I've got a release of hyper-h2 upcoming: when I've shipped that, I should have some time to spare to get this library into shape for a new release.

[2016-04-21 08:33] sammachin commented on #225
Yep seems to be working, thanks for sorting this so quickly :)

Now to try and decipher the rest of this AVS api!

[2016-04-21 08:33] #225 closed

[2016-04-22 03:16] nicholasjconn opened #229 "Request in Multiple Threads"
I have two threads, one which sends requests based on a user input, the other thread sends a GET /ping request every 5 minutes.

I am getting an error when I try to send the request in the /ping thread. This doesn't happen if everything is integrated into a single thread. I could be doing something wrong with the threading, but I wanted to check here since I can't seem to get anywhere.

`File "C:\

[2016-04-22 12:33] Lukasa commented on #229
Right now the master branch is not thread-safe: that is, you can't use the same connection from different threads unless you lock around the whole thing. That's deliberate.

However, there's a patch in the concurrency branch that resolves this problem. I'm aiming to reconcile them sometime soon. In the meantime, either use the `concurrency` branch or lock around the connection.

[2016-04-22 22:04] nicholasjconn commented on #229
Makes sense. Thanks.

I'm currently using the development branch since I need the force_proto argument to force h2. I'll be sure to keep an eye out for an update when you have time. No rush. I'll try a lock in the meantime.

Thanks again.

[2016-04-23 15:41] lithiumlab commented on #227
@Lukasa

Is it possible to get_pushes() using this adapter?

[code]

As r now seems a Response object from requests can't call get_pushes() on it.

I need to keep track of a downstream from an external API to handle multipart messages to generate events that trigger actions in the the front-end. Im using Flask to handle routes and requests to get the api external data. I get the initial data but i

[2016-04-23 15:57] Lukasa commented on #227
Requests itself cannot call `getpushes`, but you can get access to the response object from `response.raw`. You can use that then to chain through, and you should be able to grab the underlying connection from in there.

[2016-04-23 22:26] tbetbetbe commented on #229
FYI: #232 syncs the concurrency branch with the latest development branch.

It'd be great if you can test it out to see if it works for you - that'll be great feedback for the concurrency changes.

[2016-04-23 22:35] tbetbetbe commented on #224
👍 for a release cut.

Including the concurrency branch via #232 would lead to much :joy: but I understand if you want to hold off on that for a bit.

[2016-04-23 22:42] tbetbetbe commented on #224
FYI, this particular issue might be addressed by #221

[2016-04-24 01:09] ojii commented on #224
that patch looks very promising. thank you.

[2016-04-24 07:49] Lukasa commented on #224
@tbetbetbe Amusingly, the switch to use hyper-h2 basically makes the concurrency branch wrong at the moment (as I discovered when I tried to integrate it), because the I/O and state changes have moved all over the place. However, I'll take a look at trying to rebuild the concurrency stuff from scratch. =)

Right now the biggest thing blocking the release is that hyper-h2 doesn't have an API for pl

[2016-04-24 07:50] Lukasa commented on #224
Uhh....I really should read my emails in chronological order, because if I had I'd have known that you did that already @tbetbetbe! I'll dive into your patch. ;)

[2016-04-24 18:09] lithiumlab commented on #227
Thanks for the info.
Code works like a charm in my local environment running python 2.7.11.
Amazing libraries by btw hyper and requests.

Getting it to production (AWS Elastic Beanstalk) raises and error in the r = post.() call:
[code]
[code]

This is the aws environment info:
[code]

Looking for hints on what can be the problem took me here:
https://lukasa.co.uk/2013/01/Choosing_SSL_Version_In_Re

[2016-04-24 18:30] Lukasa commented on #227
It's a bit tricky to tell. It could be related to OpenSSL functionality though, for sure. Can you provide me `ssl.OPENSSL_VERSION` from your production install?

[2016-04-24 19:01] lithiumlab commented on #227
Sure...
[code]

[2016-04-24 19:03] Lukasa commented on #227
So the biggest problem there is that you might be missing ALPN, which could be causing the connection to be closed. It could also be related to missing cipher suites. Do you have the ability to run packet capture on your machines?

[2016-04-24 19:03] Lukasa commented on #227
Either Wireshark or tcpdump, I mean.

[2016-04-24 19:15] lithiumlab commented on #227
Maybe this window helps form the load balancer... any specifics on what to look for here?

![screen shot 2016-04-24 at 3 12 43 pm](https://cloud.githubusercontent.com/assets/494499/14769806/508b14ee-0a2f-11e6-9ba6-9d1bfa3adcea.png)

[2016-04-24 19:20] Lukasa commented on #227
Hrm, no, those look fine. What I'm interested in is what's going on with the TLS handshake itself.

[2016-04-24 19:32] lithiumlab commented on #227
Ok. i have installed tcpdump on the aws eb machine through ssh.
What will be the command?

[2016-04-24 19:34] Lukasa commented on #227
`tcpdump -s 1514 -w capture.pcap port 443` should do for now. That'll save to a file called `capture.pcap`, which you can mail to me.

[2016-04-24 21:24] lithiumlab commented on #227
capture file sent

[2016-04-25 01:04] lithiumlab commented on #227
Noticed getting two different errors when making some calls consecutively:

[code]

And this when no multipart data is sent:
[code]
Last one probably just related to not sending data at all.

[2016-04-25 08:01] Lukasa commented on #227
Broken Pipe and Connection Reset By Peer are very related exceptions, so we don't need to worry about them right now: they're likely both caused by the same thing.

So the reset connection seems to be about the format of your data, I think. The TLS handshake is completing successfully, and application data is being transmitted, but the connection then gets torn down. I'm missing some data here (yo

[2016-04-27 02:24] lithiumlab commented on #227
i've set LogLevel debug on the machine
not much coming different.
[code]

[2016-04-27 03:31] lithiumlab commented on #227
This is from my local environment during and error.
Everything works normally in my local env sending and receiving binary data.

Here some logs from my local app during consecutive calls with and without data.

[code]

[2016-04-27 07:55] Lukasa commented on #227
Sorry, when I said turn logging on I meant on the client side. =) I want to see the logs that hyper is emitting.

[2016-04-27 12:38] #147 closed

[2016-04-28 15:33] lithiumlab commented on #227
Ok, here a call from the server to http2bin.org:
[code]

[code]

and here's  a call to Alexa Voice Service (AVS) where i get the error:

[code]

[code]

[2016-04-28 15:36] Lukasa commented on #227
Hrm can you change this so that it logs out DEBUG level and higher?

[2016-04-28 15:38] lithiumlab commented on #227
Can you please advise how to?

[2016-04-28 15:41] Lukasa commented on #227
@lithiumlab Ah, sorry, it's a flask problem. In a top level file in your Flask app, please add these lines:

[code]

That'll generate a *lot* of logs, but that should be fine.

[2016-04-28 15:51] lithiumlab commented on #227
apart from the mod_http logs that are now included, not much else is coming out...

[code]

[2016-04-28 15:53] Lukasa commented on #227
Hrm, you may need to log to a file instead. Try adding `filename='mylogfile.log'` to the `basicConfig` call.

[2016-04-28 17:22] lithiumlab commented on #227
doing that triggers a permission denied error im trying to solve. chmod and httpd service restart didnt do the job.

[2016-04-28 18:40] Lukasa commented on #227
@lithiumlab Probably you don't have permission to write to your web server's working directory. Try hardcoding a path to somewhere you know your web server's user can write data (the same place it writes log files, for example).

[2016-04-28 20:01] lithiumlab commented on #227
ok. logs are in the file now. but tailing it i see the same errors.
tailing the log file errors comes in. but nothing different from what i have posted.
[code]

[2016-04-28 20:02] lithiumlab commented on #227
[code]

[2016-04-28 20:15] Lukasa commented on #227
Well, that exception suggests that wherever you're trying to connect to is not actually running. That is, nothing is listening ont hat part. Are you sure that URL is right?

[2016-04-28 22:23] lithiumlab commented on #227
Sorry, tha was inaccurate.
I'm using the adapter to get the call in request form so i can use the toolbelt tools to parse the data:

[code]

[code]

From my local machine, everything looks ok.
Here the logs...
[code]

[2016-04-28 22:25] lithiumlab commented on #227
Notice
[code]
in the call from the machine.

[2016-04-29 21:02] Lukasa commented on #227
Are those the logs from right before the exception? Those logs don't seem to contain a problem...

[2016-04-30 13:41] lithiumlab commented on #227
Look closely the first part.
I just added below a local call for comparison.

[2016-05-03 11:17] tbetbetbe commented on #229
FYI: #233, (replaces #232) is now merged into the development branch.

[2016-05-08 17:54] lithiumlab commented on #227
Im getting the same error using an nginx plus linux ami in aws.
This time a bit more output in the logs from uwsgi:
[code]

Everything else in the app works as expected, flask routing, static files etc.

[2016-05-08 18:44] Lukasa commented on #227
Hrm, in all of these cases it looks like the remote peer is immediately responding negatively and tearing the connection down. Can you try catching the exception and then calling `get_response` immediately afterward, then check what that response contains?

[2016-05-09 18:59] greencoder opened #240 "Implement a way to tell if the remote connection was closed"
It would be very helpful if I was able to tell that the remote server closed the connection.

From my conversation with @Lukasa, he said it "...Should be possible for the code to work out if the conn was closed ‘cleanly’ (I.e. with no outstanding work)"

For background:

When I use Hyper to connect to Apple's Push Notifications Servers, they require a persistent connection to be kept with their se

[2016-05-10 07:31] Lukasa commented on #240
So, here's my thoughts on this.

The easiest way for us to be able to do this is to enhance the `BufferedSocket` implementation with a `fill_nowait` method, that avoids blocking by only making a `recv_into` call if the socket is readable. That can then spot connection termination *and* also look for control frames like GOAWAY that good implementations will issue before connection termination.

We

[2016-05-13 00:13] lithiumlab commented on #227
I've solved the issue upgrading to latest openssl available in the machine os, in this case had to update Debian to latest 'stretch' version to upgrade to **openssl 1.0.2g**.

I have tried previously to update only openssl but it seems it doesn't play well with the underlying OS or not configured correctly even thou version is displaying well in python and command line. I've spent more time than i

[2016-05-13 07:47] Lukasa commented on #227
<3 Thanks @lithiumlab for coming back to mention that!

[2016-05-13 07:47] #227 closed

[2016-05-16 13:26] pawelmhm opened #241 "feature request: response.raise_for_status()?"
python-requests have this nice feature response.raise_for_status() that will throw error in case response status is >= 400. Would be nice to have something like this. Usage example could go like this

[code]

[2016-05-16 13:44] Lukasa commented on #241
Yup, that's a nice feature. However, this library is quite a bit lower level than requests.

Have you considered using the [Requests adapter](https://hyper.readthedocs.io/en/latest/quickstart.html#requests-integration)?

[2016-05-16 13:51] pawelmhm commented on #241
ah thanks for useful hint, will try that.

hmm yeah you're right, feel free to close this if you think hyper is too high level for that.

[2016-05-16 14:24] Lukasa commented on #241
I think the goal for hyper, at least in this kind of use case, should be to integrate cleanly with requests. That means that we can delegate things like this to requests itself.

Thanks for the suggestion though!

[2016-05-16 14:24] #241 closed

[2016-05-17 00:01] tbetbetbe commented on #240
- I like the idea of the fill_nowait method
- for simplicity, it's best if all behaviour that needs synchronization happens in one place so I think the detection of the go-away frame should happen in [connection.py](https://github.com/Lukasa/hyper/blob/master/hyper/http20/connection.py)
- For multithreading, I think we can still call the fill_nowait method before sending, but wherever we do, we sh

[2016-05-17 07:13] Lukasa commented on #240
Heh, I think that's what I'm asking you. You've been using the project multithreaded in anger, so you've got a much better feel for what it seems like.

If you're optimistic that it won't hurt, then I'm happy to prototype this and you can play around with it in the multithreaded case and see if it hurts too much.

[2016-05-24 06:03] hupantingxue opened #242 "install failed with python 2.6.6 or python 2.7.4"
hyper]$ ~/python/bin/python2.6 setup.py  install
`error in hyper setup command: 'install_requires' must be a string or list of strings containing valid project/version requirement specifiers`

[2016-05-24 06:57] Lukasa commented on #242
Thanks for this!

Python 2.6 is not a supported Python version for hyper: it is no longer receiving security updates and is not supported by the upstream development team, so the cost of supporting it for me is simply too high. If you'd like Python 2.6 support from hyper please reach out to your distributor and ask them to formally get in contact or do the backporting work themselves.

As for Pyth

[2016-05-25 16:55] greencoder opened #244 "Hyper should not be trying to RST all the streams if it receives a GOAWAY"
@Lukasa asked me to open the issue for this traceback I received today:

[code]

[2016-05-25 16:58] Lukasa commented on #244
Hey!

So this issue is basically down to the fact that hyper is receiving a GOAWAY and then trying to close each stream in turn by RST_STREAMing. Either it shouldn't do that, or streams should tolerate the attempt to reset them if you can't actually do it.

Definitely a bug though!

[2016-05-26 07:40] yichengchen opened #245 "Callback support"
I'am a beginner of Python learning.
I wonder It's there any way to make a requests callback in http/2  such as requests-futures?

It would be great for me to sending and receiving message at the same time.
Actually I'm trying to make a simple Apple APNS server using new http/2 Api,But I don't know how to handle things like this.
![qq20160526-0](https://cloud.githubusercontent.com/assets/11733500/1

[2016-05-26 07:48] Lukasa commented on #245
Hey there! Thanks for raising this issue. =)

So, *in principle* you should be able to mount the [requests adapter](https://hyper.readthedocs.io/en/latest/quickstart.html#requests-integration) provided by hyper inside the `Session` provided by requests-futures. However, I've never actually tried it, so you'd need to investigate.

However, the latest version of hyper *is* thread-safe, so if you did

[2016-05-26 08:33] yichengchen commented on #245
Thank you,that way is working.
But I wonder how could i know it's using connection with streams or not.i doubt that requests-futures would close the connection after it finish single request.

By the way I'm working on a APNS client....that a mistake.LOL

[2016-05-26 08:45] Lukasa commented on #245
@yichengchen The adapter takes care of this: it does "connection pooling" by having just a single connection per (scheme, host, port) tuple. That means that each subsequent request nonetheless goes to the same adapter.

[2016-05-26 09:38] hupantingxue commented on #242
ok,thx

[2016-05-26 09:38] #242 closed

[2016-05-26 11:10] yichengchen commented on #245
Thanks!

[2016-05-26 11:10] #245 closed

[2016-05-28 15:46] Lukasa opened #246 "Unsynchronized access to connection object from streams."
During stream creation, streams are provided access to the underlying connection object without its lock wrapper. This allows streams to perform unsynchronised access to the connection object, which is BAD.

While we’re here we should evaluate whether streams should be using _send_outstanding_data instead of the _send_cb, and indeed whether they should be just handed a reference to the connection

[2016-05-29 23:41] #244 closed

[2016-05-30 12:58] madhur230491 opened #248 "Getting Error while running your demo code on Python 2.7.10"
**Below is the traceback -**

Traceback (most recent call last):
  File "delight/viewhandlers/test.py", line 4, in <module>
    conn.request('GET', '/get')
  File "/Library/Python/2.7/site-packages/hyper/common/connection.py", line 103, in request
    method=method, url=url, body=body, headers=headers
  File "/Library/Python/2.7/site-packages/hyper/http11/connection.py", line 169, in request
    s

[2016-05-30 17:40] Lukasa commented on #248
It looks like your `ssl` module is extremely old: we need to be able to disable TLS compression for HTTP/2 (and for security reasons).

You can try adding this to the top of your code:

[code]

However I recommend upgrading your Python to a newer release if possible.

[2016-05-30 17:40] #248 closed

[2016-05-30 21:25] JasonGowthorpe opened #249 "Hardcoded certificate path in tls module causing connection errors."
Even when specifying the ssl_context to the HTTP20Connection instance, the tls module tries to create the global _context. If there isn't a file at the hardcoded cert_loc path then all requests fail with an IO error before they are even made.

  File "hyper\http20\connection.pyo", line 262, in request
  File "hyper\http20\connection.pyo", line 525, in endheaders
  File "hyper\http20\connection.pyo

[2016-05-30 22:10] Lukasa commented on #249
Out of interest, why would there be no file there? The cert file is distributed with the code, so it seems extremely unlikely that the file would end up not there.

[2016-05-31 00:09] benlast opened #250 "Proxied call to `fileno` fails for `hyper.ssl_compat.SSLSocket`"
The class `hyper.ssl_compat.SSLSocket` uses this trick to reduce boilerplate:
[code]
where:

[code]

This does not work in at least one case: calling `fileno` on the `SSLSocket` returns `None` where the underlying wrapped socket's `fileno` returns an integer value. This causes the check `while count and self._sock is not None and self._sock.can_read` (`hyper.http20.connection.py` line 748, in `hyp

[2016-05-31 02:34] fredthomsen commented on #170
Was looking through all open issues and noticed this was still here.  I believe we covered this with #172 and can be closed.

[2016-05-31 05:10] Lukasa commented on #170
Good spot @fredthomsen, thanks!

[2016-05-31 05:10] #170 closed

[2016-05-31 07:07] JasonGowthorpe commented on #249
Right that makes a little more sense, I'm building to an exe using Py2Exe but I would need to manually include that certificate chain for it to work.

[2016-06-01 00:21] Lukasa commented on #249
Hrm. Does py2exe not read MANIFEST.in to work out what data it needs to include from a distribution?

[2016-06-01 16:46] #250 closed

[2016-06-02 16:43] JasonGowthorpe commented on #249
I can't even find a MANIFEST.in file in my python install folder. Py2Exe doesn't appear to have made any attempt to copy the cert file to the target directory.
I'm using Python 2.7.11, Py2Exe 0.6.9, and installed Hyper using pip (upgraded from 0.5).

[2016-06-02 16:49] Lukasa commented on #249
Oh, I see. Argh Py2exe. This would actually be worse, because even if it included the binary data it wouldn't be in the right place.

You can avoid the call to `init_context` by manually assigning a SSLContext object to `hyper.tls._context`. That will allow you to ensure that the SSLContext is configured in a way that your application can use.

[2016-06-02 17:10] JasonGowthorpe commented on #249
Thanks, I'll put that in to cover me in the event of a future upgrade.

Not sure if its a better solution or if I'm overlooking some other case but I have changed wrap_socket to only try to initialize the default context if a manual one isn't specified. That way different certificates could be used on separate connections if required.

[code]

Either way I'm guessing the cert file existence really

[2016-06-02 17:36] Lukasa commented on #249
I'd accept a patch to make that change. =)

[2016-06-02 17:53] JasonGowthorpe commented on #249
Ok, I'll figure out how to use github for contributions and get a pull request issued. Thanks.

[2016-06-05 18:41] fredthomsen commented on #246
Seems that passing in the LockedObject and not just the underlying `H2Connection` where Stream is constructed in the `HTTP20Connection` solves the first problem.  Perhaps I am not completely understanding and you can point out the error of my ways.

As far as the passing in a reference, I assume you mean to the `HTTP20Connection`.  That seems very much like a layering/design pattern violation no?

[2016-06-07 10:33] Lukasa commented on #246
@fredthomsen You're entirely right about the first problem, that would solve it. You'd also need to rewrite a lot of code to use `with` statements to grab the lock, but that's ok.

As to passing in a reference, there's no way around it: there's a layering violation going to happen here somewhere because connection objects call streams and then streams call connection objects. The only way *around*

[2016-06-08 11:30] fredthomsen commented on #246
This feel icky.  Made a PR for now.

[2016-06-13 02:38] fredthomsen commented on #53
I was looking at this, and retrying a connection would be something that a higher-level library would handle rather than hyper?

[2016-06-13 15:37] Lukasa commented on #53
The answer is *probably*, but I'm not sure. What's your opinion here @fredthomsen?

[2016-06-14 13:19] fredthomsen commented on #53
I can see the dilemma here.  Yes, I think that this should not be something that `hyper` takes on, considering how `httplib` and `http.client` deal with this in the HTTP/1.1 world.

However, then there must be some way to indicate to the higher level module which streams were not processed and the ability to move those streams and their associated data from one connection to another.

[2016-06-21 08:42] #246 closed

[2016-06-29 22:36] 72squared opened #256 "self._sock is None inside of _single_read"
I opened this with the apns2 package maintainer since that is where I discovered the bug but I think this is really a problem inside of hyper:

https://github.com/Pr0Ger/PyAPNs2/issues/11

 self._sock is None when it hits this line:

https://github.com/Lukasa/hyper/blob/development/hyper/http20/connection.py#L644

It is a rare occurance but it does happen. Any thoughts on what could be causing it?

[2016-06-30 07:34] Lukasa commented on #256
So the `_sock` is set to `None` if the connection is by the remote peer, either cleanly or not.

This is definitely a behaviour I don't love: if the remote peer closes the connection with error code NO_ERROR, hyper doesn't handle it very gracefully. The ideal behaviour would be to quiesce the connection. That's quite a substantial change, however.

In the meantime, can I get a feel for how you're

[2016-06-30 10:15] Lukasa commented on #256
In the short term the easiest fix is probably to raise an exception in all connection termination cases: at least that way your code would be able to spot this and handle it as appropriate.

[2016-06-30 14:15] 72squared commented on #256
I am using the library through pyapns2:

https://github.com/Pr0Ger/PyAPNs2

We schedule an apple push notification to an iOS device as a background job, and a thread from a thread pool in a background job handles the request and uses pyapns2 (which uses hyper) to send a push notification through apple's http2 api backend.

I am going to try to see if it makes a difference if I use Greenlet thread

[2016-06-30 14:19] 72squared commented on #256
Could you make it raise a Connection exception if the connection closes and there are still open stream requests associated with the connection? Not sure if that is possible. Because I think if the connection gets closed and there are no outstanding requests there is no real problem. The next request would cause a new connection to be made. It's only if you are waiting on a response or in the midd

[2016-06-30 14:26] 72squared commented on #256
Looking at the code, here's where I can see a problem:

https://github.com/Lukasa/hyper/blob/development/hyper/http20/connection.py#L678-L682

If you have multiple streams outstanding and the connection terminates, you close the connection, making self._sock = None. then if other threads are in progress reading from different streams on the same connection at the same time they could run into a pr

[2016-06-30 14:30] Lukasa commented on #256
The answer is yes, we can make it throw exceptions if there are active streams. I think, in fact, that there is an issue here related to that. Certainly, however, I think that's the best way to go. =)

[2016-06-30 14:30] 72squared commented on #256
since you are inside a read_lock, seems like you may just need to check if self._sock is None:

https://github.com/Lukasa/hyper/blob/development/hyper/http20/connection.py#L743-L744

And maybe handle by stashing the connection error on close() so that you can re-use that reason in the stream context.

[2016-06-30 14:34] 72squared commented on #256
The race condition I am seeing is two threads arrive at this line in the code simultaneously:
https://github.com/Lukasa/hyper/blob/development/hyper/http20/connection.py#L735

on obtains the read lock. it goes inside of _single_read and hits this line, closing the connection:

https://github.com/Lukasa/hyper/blob/development/hyper/http20/connection.py#L682

Then the lock is released and the second

[2016-06-30 14:34] Lukasa commented on #256
Yup, that seems sensible to me.

Are you interested in writing a PR for this?

[2016-06-30 14:36] 72squared commented on #256
Yeah I can take a stab at it. I don't have a lot of context because I never even looked at the hyper library source code until last night. I doubt I could write a great test for it to prove the issue is fixed. But I will give it a try and see how it goes.

[2016-06-30 14:51] Lukasa commented on #256
Thanks! =) I'm happy to help you through it.

[2016-06-30 14:51] 72squared commented on #256
Looking at the design, I see one other potential problem.

Imagine this scenario:

request A and B are in flight. request A obtains the lock. It hits some kind of connection error and we close(). Then request C comes in and makes a request BEFORE request B tries to get the response. This causes a new _sock connection to be populated. At that point, request B has a stream id that wasn't issued by t

[2016-06-30 14:55] 72squared commented on #256
I also realized that raising an exception on close is not enough because if it is a threaded application, the exception will raise in the thread that first encounters it and the other threads won't hit the exception. So we'd need to also raise exceptions when the stream read happens in the other threads. Which means saving the association between thread and sock and the state associated with that

[2016-06-30 14:56] Lukasa commented on #256
@72squared So the reason the socket goes away is, in essence, to reset the state of the connection object so it can be transparently re-used. That's not necessarily a good thing to do automatically. It may be better to keep a kind of 'close state' around and let users manually reset the state if they need to. That would allow us to throw the exceptions from multiple threads if needed.

[2016-06-30 15:06] 72squared commented on #256
The way I would probably solve this is to have a lightweight object wrapper around self._sock. This object would be passed into to a stream wrapper constructor at the time of the outbound request so that when we go to read the stream we use that same sock wrapper that was used when the stream id was issued. And this will also allow us to make sure if the connection is closed, that the stream conti

[2016-06-30 18:13] 72squared commented on #256
What if on close you do something like this:

[code]

then inside of _recv_cb method where we are waiting with the read lock, once we obtain it, we make sure the stream isn't closed and that the stream id is still inside of the self.streams. Actually, I think self.streams is reset to an empty set on close() so maybe just checking to see if stream_id is in self.streams ?

[2016-06-30 19:40] Lukasa commented on #256
We probably want a way to signal to the stream that it has been forcibly closed, but yeah, this could work. =)

[2016-06-30 23:20] 72squared commented on #256
Review the unit tests. I think this will solve it. let me know what you think.

[2016-07-01 13:26] #256 closed

[2016-07-11 19:41] ant1441 opened #260 "WINDOW_UPDATE after stream closed when (filesize + max frame size) >= window size"
The following code:

[code]

Throws this exception:

[code]

Following (a similar) request in Wireshark I saw the following things happen:
(The Wireshark trace for the request to http2bin does not appear to be correct to me)

* The client sends a SETTINGS frame with :
  * Initial Windows size : 65535
  * Max frame size : 16384
* The server sends several DATA frames containing the entire payload
*

[2016-07-11 21:41] Lukasa commented on #260
Yeah, hyper-h2 disallows window update frames on closed streams. The WINDOW_UPDATE isn't going out on the wire: normally we'd have to emit two.

The fix here, probably, is to update to rely on hyper-h2 2.4.0, and then use the related events properties to make sure we don't do this unnecessarily.

[2016-07-12 16:11] #260 closed

[2016-07-15 09:56] Lukasa opened #262 "Properly respect max_frame_size."
In the refactor to hyper-h2 we seem to have lost track of the peer's maximum frame size. We should probably aim to respect that now.

[2016-07-15 10:09] Lukasa commented on #262
Uh, nvm: this just isn't a problem.

[2016-07-15 10:09] #262 closed

[2016-07-27 13:25] pawelmhm opened #263 ""PROTOCOL_ERROR 0x1" when using hyper.HTTP20Adapter with requests"
I have simple Twisted resource looking like this

[code]

and two hyper clients. One looks like this and works fine:

[code]

Another one does same thing but in a different way and fails

[code]

Traceback is:

[code]

why does it happen? Is my usage of adapter correct? Are both clients completely equivalent? If yes, why one works and other fails?

[2016-07-27 13:52] Lukasa commented on #263
With your adapter, can you try changing the `s.get` line from `r = s.get("https://localhost:8080")` to `r = s.get("https://localhost:8080/")`?

[2016-07-27 15:22] pawelmhm commented on #263
same behavior.

I actually see that example from docs also fails with some error:

[code]
and then I do something along the lines of :
[code]

[2016-07-27 17:46] Lukasa commented on #263
Yeah, that error occurs in the released version when using old Python versions. The master branch shouldn't have that issue.

So the protocol error is odd. Does the server generate any logs or output?

[2016-07-31 15:38] binrush opened #264 "Protocol error: Max outbound streams is 500, 500 open"
Hello. We are using hyper to send push messages using Apple Push Notification Service. Some times we get `TooManyStreamsError: Max outbound streams is 500, 500 open` when sending HTTP2 request.

The code we use is quite simple:

[code]

We use gevent celery worker to send pushes with maximum of 50 greenlets, so as I understand, there should not be more then 50 opened streams in every moment becaus

[2016-07-31 17:46] Lukasa commented on #264
So there are two possibilities. One is that, while you might only allow 50 greenlets, the `send` greenlets might be starving out the `feedback` greenlets. This admittedly only happens if the size of the responses is > 64kB.

The other risk is that the non-200 errors aren't having their bodies consumed. Generally you should either `read()` the stream or reset it if you don't want it: otherwise, the

[2016-07-31 17:47] Lukasa commented on #264
(Side note: this is some extremely well-factored code, I approve highly!)

[2016-08-01 05:03] binrush commented on #264
Thank you for reply and for hyper )

currently, we executing `send()` and `feedback()` in single celery task sequentially, so number of sends and feedbacks should be equal

I enabled debug for hyper and will post logs here when error will be reproduced

Thank you!

[2016-08-04 03:28] binrush commented on #264
`TooManyStreamsError` was not reproduced yet, but I have some debug logs. There are a lot of messages like this:

[code]

The last number (`16293`) and "recv for stream" number (`0`) are not changed within a number of last messages in logs. Is it normal situation?

I uploaded the whole log to dropbox, it's quite big (500 kb).

https://www.dropbox.com/s/a9rtr511dthfxbc/pcelery_async-stdout---superv

[2016-08-04 10:56] Lukasa opened #265 "Stream is not removed from recent_recv_streams when cleanly closed."
When `_send_rst_frame` is called we evict streams from `recent_recv_streams`, but we don't do it when `_stream_close_cb` is called. That seems wrong.

[2016-08-04 10:57] Lukasa commented on #264
That's somewhat interesting, but not that important in this case I think.

Those messages appear if a frame has been received on a given stream, but that stream has not yet attempted to read its frames. It exists as a guard against the possibility of having a stream stuck behind a read lock.

However, if a stream never has to emit a read: that is, if all the data that it was expecting got pushed t

[2016-08-05 08:37] binrush commented on #264
We enabled logging of streams count and currently maximum what we have is 12 streams:

[code]

It seems strange because it rather far from 500 ).

Is it possible that `TooManyStreamsError` shows incorrect number of max_outbound_streams?

[2016-08-05 08:47] Lukasa commented on #264
@binrush I doubt it. A quick glance at the relevant code doesn't seem wrong.

I wonder if this was only encountered in a weird error condition scenario.

[2016-08-05 14:33] #229 closed

[2016-08-06 18:48] kracekumar opened #268 "Allow HTTP defined methods only"
HTTP defined methods are `GET, HEAD, POST, PATCH, DELETE, TRACE, OPTIONS, CONNECT`. `hyper` CLI doesn't validate the user inputted methods.

[code]

Argument parser `add_argument` takes an argument `choices`. The `choices` can hold the list of allowed HTTP defined methods. As of now, using lower case HTTP methods cause unexpected behaviour.

[code]

I am happy to send a PR.

[2016-08-06 19:05] Lukasa commented on #268
So I'd like to allow arbitrary methods: there are many extensions to HTTP that use custom HTTP methods. However, we should absolutely just uppercase the method we're given.

[2016-08-07 04:55] binrush commented on #264
We decided to decrease grenlets number to 10. Currently we have following in logs:

[code]

So, looks like streams number is much greater then greenlets number

[2016-08-07 08:50] Lukasa commented on #264
@binrush It's certainly possible. Do you have your "have opened streams" log for this as well?

[2016-08-07 08:56] binrush commented on #264
@Lukasa here it is https://www.dropbox.com/s/ly57q0vfq8r5jtt/%D0%9D%D0%B0%D1%87%D0%B0%D0%BB%D0%BE%20%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D1%8B%20%D1%81%20Dropbox.pdf?dl=0

But seems there is no any messages from hyper except for one I mentioned above

[2016-08-07 09:00] Lukasa commented on #264
Uh, I don't think that link is right.

[2016-08-07 09:15] binrush commented on #264
@Lukasa sorry, here is right one https://www.dropbox.com/s/4ibew32vllgqmsv/lastlog.tar.gz?dl=0

[2016-08-07 09:30] #268 closed

[2016-08-07 09:35] Lukasa commented on #264
Yup, timeouts do seem to be the problem here: it does seem like celery is timing those requests out and they never end up closed. It would be interesting to see why 900s are being taken for some of these requests.

[2016-08-08 03:48] binrush commented on #264
BTW, in celery task we have something like this:

[code]

So seems like execution stucks on getting feedback.

Do you have any suggestions on how we can futher debug it?

[2016-08-08 08:13] Lukasa commented on #264
@binrush Ideally it would be good to see a traceback from the point where celery killed the worker. Is that going to be available?

[2016-08-08 08:14] binrush commented on #264
@Lukasa currently, no. I'm trying to figure out how to get it and will write here if I have any success with it

[2016-08-09 14:02] binrush commented on #264
Unfortunately, I still did not fugure out, how to get stack trace for `Hard time limit (900s) exceeded` error, so I made a trace dump of all greenlets in moment when streams count became more then greenlet count. Most greenlets have following trace:

[code]

Full log attached
[pcelery_async-stdout---supervisor-fWMgHq.log.gz](https://github.com/Lukasa/hyper/files/409109/pcelery_async-stdout---super

[2016-08-12 07:30] binrush commented on #264
@Lukasa do you have any suggestions on how we can deal with it?

[2016-08-12 07:38] Lukasa commented on #264
So right now it seems that we're getting stuck on the write lock. This raises an important question: is it possible that a thread has died holding the lock. Or, worse, timed out? Can you try setting `socket.setdefaulttimeout(30)` and see if that changes anything?

[2016-08-12 09:00] binrush commented on #264
@Lukasa with this setting, we are getting the following:

[code]

[2016-08-12 09:10] Lukasa commented on #264
Hrm. That traceback is not terribly helpful, really, though it suggests that we're expecting a HEADERS frame and not getting one within *at least* 30 seconds. Specifically, in fact, that the connection is dead for 30 seconds. Do you have or can you obtain a tcpdump that shows no receive action on the socket for that 30 second period?

[2016-08-15 04:46] binrush commented on #264
@Lukasa here is tcpdump for single connection
[dump.zip](https://github.com/Lukasa/hyper/files/417541/dump.zip)

[2016-08-15 08:06] Lukasa commented on #264
Hrm. Sadly, nothing leaps out from that packet capture. =( This is beginning to get quite frustrating: we may need to start adding some kind of substantial logging to the codebase if we can't get a stacktrace from celery. =(

[2016-08-15 08:30] binrush commented on #264
@Lukasa maybe we can fork hyper, add some debug messages and use forked version in our project?

[2016-08-15 08:35] Lukasa commented on #264
That certainly works for me. In the first instance the most useful debug logs would be ones that dump out stream creation/destruction information (one log [before this line](https://github.com/Lukasa/hyper/blob/development/hyper/http20/connection.py#L588) dumping out newly created stream ID, one in [each branch of this except block](https://github.com/Lukasa/hyper/blob/development/hyper/http20/con

[2016-08-15 17:26] binrush commented on #264
@Lukasa is this ok https://github.com/binrush/hyper/commit/987c7200fbaa0f750051e5d0c65c77906f5c0244 ?

[2016-08-16 07:44] Lukasa commented on #264
Some notes left inline in that commit diff.

[2016-08-16 13:42] 72squared opened #272 "AttributeError: 'NoneType' object has no attribute 'fill'"
I see this error very intermittently (1 in a million requests?) while using apns2 package:

https://github.com/Pr0Ger/PyAPNs2/tree/master/apns2

Here's the traceback:

[code]

It is using the 0.6.2 hyper release. I haven't compared against using older versions of hyper.

[2016-08-16 13:51] Lukasa commented on #272
So I think this occurs when the connection has been closed while a read was queued up. We should probably raise `ConnectionResetError` in this case.

[2016-08-16 13:52] 72squared commented on #272
👍

[2016-08-17 03:46] binrush commented on #264
@Lukasa btw, is it ok to install from development branch? I have some problems installing:

[code]

[2016-08-17 07:44] Lukasa commented on #264
@binrush You probably need to update the pip in your virtualenv!

[2016-08-18 10:25] maxpowel opened #274 "Send ping frame"
Hi, I have a long time connections and sometimes they can be in idle state for a long time (ej 15 minutes). If I can send a PING frame I would know if the connection is still up.  I saw that the h2.connection has the method ping but probably is not that simple using it in hyper connection. Catch the ConnectionTerminated event would be nice too, even better at least for me.

Now what I'm doing is c

[2016-08-18 17:09] binrush commented on #264
@Lukasa here is log with debug messages we added
[pcelery_async-stdout---supervisor-fWMgHq.log.gz](https://github.com/Lukasa/hyper/files/425478/pcelery_async-stdout---supervisor-fWMgHq.log.gz)

[2016-08-18 21:17] Lukasa commented on #274
Hey!

We'll merge #273 shortly, which should help with this!

[2016-08-18 21:17] #274 closed

[2016-08-19 06:31] plucury opened #275 "Possible deadlock with HTTP20Connection"
`HTTP20Connection.connect()` acquires `_lock` when it was started, and try to acquire `_write_lock` in `_send_preamble()`. However `HTTP20Connection.request()` acquires `_write_lock` first, then it will try to acquire `_lock` in method `_new_stream()` and `connect()` . This should cause deadlock if there are two threads call them at the same time.

I'm not sure if it is possible to call `connect()

[2016-08-19 12:25] Lukasa commented on #275
Hrm.

That definitely seems like a problem. Based on the rules documented in the comment, that means that `request()` needs to acquire `_lock` *first*, before it acquires `_write_lock`. I think the way we want to do that is to hoist `connect()` calls out if we can.

Probably the way we need to deal with this is that we need to stop using `putrequest` and `endheaders` directly in the code. Likely w

[2016-08-19 12:30] Lukasa commented on #264
Thanks @binrush, I'll try to deal with this later today.

[2016-08-19 23:29] maxpowel commented on #274
Thank you!

[2016-08-20 12:53] Lukasa commented on #264
So the logs paint a bit of a picture here. If we start from timestamp `2016-08-18 06:36:31,134`, we have these logs from start of connection to connection failure:

[code]

What seems notable to me here is that we're repeatedly spinning trying to read for stream `1`, but never actually finding data for it. However, none of the reads for the *other* streams progress: the data is read out for them a

[2016-08-22 03:50] binrush commented on #264
@Lukasa thank you for spending time on this

I've added log message after calling `feedback()`

Sorry, I forget to note. Currently, we have celery worker with 50 greenlets running, and when opened stream count reaches 21, we creating new connection. This is a kind of workaround to make it work without manual restarts. Mybe we can temporary disable this if it can help debugging.

[2016-08-22 05:59] plucury commented on #275
@Lukasa How about add a specific lock to synchronize stream creation/deletion instead of using `_lock`? If it is so, we can acquire it when we already held `_write_lock` or `_read_lock` without deadlock issue.

[2016-08-22 11:30] Lukasa commented on #275
@plucury That's what `_lock` is: it's the specific lock that synchronizes stream creation/deletion. For a related reason it also synchronizes connection creation.

[2016-08-22 11:34] Lukasa commented on #264
@binrush I see, that's interesting. Are you catching the exception to detect that case?

[2016-08-22 11:40] binrush commented on #264
you mean "Too Many Streams" case? No, we just check if `conn.streams` is greater then 20

[2016-08-22 11:45] Lukasa commented on #264
@binrush Interesting. So why do we still see the problem in the logs?

[2016-08-22 11:48] binrush commented on #264
@Lukasa what exact problem do you mean? Too Many Connection? It's just debug message, actually currently we do not reach real TooManyStreams exception because we are recreating connection when streams count become growing

[code]

[2016-08-22 11:49] Lukasa commented on #264
Oh, I see. =) That makes more sense.

[2016-08-22 11:52] binrush commented on #264
@Lukasa sorry for mislead you )

[2016-08-22 11:53] Lukasa commented on #264
That's fine. =D So yes, in that case we're mostly just interested in what is going on with our apparently stuck stream.

[2016-08-22 23:09] johnwheeler commented on #187
Hi All,

I'm getting this error consistently on response.read()

[code]

Does this issue mean that this can't be handled currently?

Thank you for hyper!

[2016-08-22 23:14] Lukasa commented on #187
@johnwheeler I think that depends on what you mean by "handled". What would you define as handled here?

[2016-08-22 23:22] johnwheeler commented on #187
Thank you for the quick response. Handled was a poor word choice since it connotes exception handling. I was wondering if there's a way to stop this error from occurring and proceed to read the data, and I want to confirm that:

1. There's no way to do that per this issue (no way to set a timeout)
2. I'm not misunderstanding the HTTP/2 protocol and this error makes it immediately apparent to you h

[2016-08-23 00:07] johnwheeler commented on #187
Please disregard. I just don't know what I'm doing. I think I'm trying to interact with a HTTP/2 service in an HTTP/1 way and didn't make it far enough in your docs. I've gotten further along now, and it looks like I'm making headway.

FYI - I'm using this library to connect to the Alexa Voice Service, which is Amazon's Echo service for building the Echo into your own hardware.

[2016-08-23 01:28] Lukasa commented on #187
Ah I'm glad you've worked it through!

[2016-08-23 13:14] #265 closed

[2016-08-24 02:25] johnwheeler commented on #187
Is it a bad idea to modify the HTTP20Connection's `connect` method and add a timeout parameter?

[code]

it would pass the timeout to the underlying socket

[code]

I've tested it locally and it resolved this 'The read operation timed out' issue I'm getting, but I didn't know if it's a bad idea to make it part of the API right now. If it's a good idea, I can submit a pull request.

[2016-08-24 02:42] johnwheeler commented on #187
Hi,

I deleted my last comment because I realized HTTP20Connection's `connect` is not part of the public API.

Does it make sense to add to add a `timeout` parameter to HTTPConnection __init__ method that is used during socket creation?

i.e. in HTTP20Connection.connect, it'd be something like:

[code]

If this is a good idea, I can attempt a PR

[2016-08-24 14:32] Lukasa commented on #187
@johnwheeler I would accept a PR that does that, yeah. =)

[2016-08-24 19:49] lithiumlab opened #278 "Download stream server connection example?"
Is there a minimal example available to test server pushes like http2bin.org?
If not, what would be your recommendation on creating a test scenario?

Before testing against an external API i want to make sure there's no obvious errors in the python layer. A minimal test should be a good starting point.

[2016-08-24 19:54] Lukasa commented on #278
There is not. =) http2bin.org does not currently support it because it's a WSGI application and there is no standard for how they can trigger pushes. In this case, however, it in principle *could*, but it's finicky and difficult.

My recommendation, if you want to test this code, is to write a version of one of the hyper-h2 example servers [here](https://github.com/python-hyper/hyper-h2/tree/maste

[2016-08-24 20:01] #278 closed

[2016-08-24 20:01] lithiumlab commented on #278
Excellent, thanks for clarifying.

[2016-08-24 22:48] toffer commented on #249
This should be closed. Was fixed in #255.

[2016-08-25 02:12] Lukasa commented on #249
Thanks @toffer!

[2016-08-25 02:12] #249 closed

[2016-08-25 18:23] nicholas-gh opened #279 "When setuptools 5.5.1: error in hyper setup command: Invalid environment marker: platform_python_implementation == "PyPy" and python_full_version < "2.7.9""
When I was using python3-setuptools 5.5.1-1 I get:

[code]

I upgraded to python3-setuptools 20.10.1-1.1~bpo8+1 (and python3-pkg-resources 20.10.1-1.1~bpo8+1 was added at the same time)

`sudo apt-get install -t jessie-backports python3-setuptools`

and now setuptools processes `git+https://github.com/Lukasa/hyper.git@development` just fine.

However, on raspbian only 5.5.1-1 of setuptools is avai

[2016-08-25 19:57] Lukasa commented on #279
Yeah, sorry about this: this was definitely added on purpose and it's not considered a bug. I'm afraid you'll need to discuss with the raspbian folks to look for them to backport the updated setuptools. Alternatively, you can consider using virtualenv to store your environment, which will allow you to safely update setuptools within the virtualenv.

I appreciate that this is inconvenient, but setu

[2016-08-25 19:57] #279 closed

[2016-08-25 21:19] lithiumlab commented on #278
Hi again, Cory;

I'm using hyper to connect to AVS (Alexa Voice Service) API.
I have successfully connected and received data from a POST request using hyper.

One requisite to maintain a downchannel to get cloud initiated directives from the AVS  is to make a GET request to `/directives`

When doing a .read() on that HTT20Response Object i get the following error:
`SSLError: ('The read operation

[2016-08-25 21:39] lithiumlab commented on #278
Here's the call:

		s = requests.Session()
		s.mount(http2_conn_url, h2adapter )

		headers = {
			'authorization' : 'Bearer ' + str(token),
		}
		first = s.get( http2_conn_url + '/v20160207/directives', headers=headers, stream=True)
		print('________________')
		print(first.headers)
		print(first.status_code)
		stream_id = first.raw._stream.stream_id
		print(stream_id)
		first.raw.read()
		print(

[2016-08-25 21:49] Lukasa commented on #278
Hi there!

This is an awkward side-case for hyper, because AWS are doing something that hyper really doesn't expect. Specifically, if you call `read()` on the `HTTP20Response`, it will attempt to read until END_STREAM. Given that you're not expecting END_STREAM to *ever* show up, that will necessarily mean that it will continue to attempt to read from the socket until, eventually, the socket times

[2016-08-26 13:19] lithiumlab commented on #278
Thanks for this helpful information.
By "block on the read" you meant "lock on the read" right?

[2016-08-26 13:30] Lukasa commented on #278
Nope, I mean block. =)

[2016-08-26 19:32] nicholas-gh commented on #279
Thanks! Hopefully having it reported here will help people find the cause of the error and find a way to upgrade themselves.

[2016-08-29 08:07] binrush commented on #264
Here is new log with debug message you asked. Opened streams number starts growing at `2016-08-29 03:00:01,179`:

[code]

[2016-08-29 14:25] Lukasa commented on #264
Hrm, it doesn't look like we're receiving any frames for stream 1 here. I think we need a log after [this line](https://github.com/Lukasa/hyper/blob/development/hyper/http20/connection.py#L672). Something like: `log.debug("Received frames for streams %d", stream_ids)`.

[2016-08-31 09:07] binrush commented on #264
Here's new log wish message we needed. Connection is created at `2016-08-30 03:25:04,355`, and there is message:

[code]

Problems start at `2016-08-31 03:00:02,085` when streams number starts growing.

[logs.zip](https://github.com/Lukasa/hyper/files/446799/logs.zip)

[2016-08-31 16:57] Lukasa commented on #264
Hrm. If we look there and rewrite some of the logs, I see that we create 21 streams in about 4 seconds. In that time we have received very little back: we received and closed the first stream, but none of the others.

Is it possible for us to use a gevent semaphore for this? Is there any reason not to gate your maximum streams in this way? That way we can hide the "max streams" things (which are f

[2016-08-31 17:09] binrush commented on #264
Sorry, I don't understand you completely. Do you mean we should not recreate new connection when getting 21 streams and wait for actual `TooManyStreams` error?

[2016-08-31 17:15] Lukasa commented on #264
@binrush In production you are welcome to continue your current system. However, I was suggesting a slightly more adaptive system where you use a semaphore that allows you to queue requests behind the semaphore. That allows us to identify which requests are timing out which, combined with this log, gives me a bit more understanding of what's going on.

[2016-09-01 04:27] binrush commented on #264
@Lukasa do you mean something like this?

[code]

[2016-09-01 13:11] Lukasa commented on #264
I do, but with `value=some_maximum_outstanding_stream_count`

[2016-09-02 07:49] binrush commented on #264
So, I finally used `value=10` and everything works fine, no fails today. Attaching a log - at `2016-09-02 03:00:00` (this time we are sending many pushes) streams number is growing to `11` and then starts decreasing at `2016-09-02 03:03:13,262`.

We are planning to increase semaphore value to 30 and see what will happen

[2016-09-04 21:05] joshdover commented on #225
Correct me if I'm wrong, but if I'm using hyper with the requests adapter, it seems there's no way to to set the `force_proto` option? What openssl packages do I need to change on my machine to just make this work without that option?

[2016-09-04 21:14] Lukasa commented on #225
Correct; that work is sitting in #214 and is as-yet unfinished. To get this to work without that option you'll need OpenSSL 1.0.2. What OS are you using?

[2016-09-05 00:28] joshdover commented on #225
I'm on raspbian (debian) jessie, having a hard time finding a package for it. Might just trying to build it unless you have any tips.

[2016-09-05 00:52] joshdover commented on #225
Hm, installed openssl 1.0.2h from debian/testing and I'm still getting the same error. Tried recompiling python 3.5 as well. Any ideas?

[2016-09-05 10:10] Lukasa commented on #225
@joshdover To be clear, what error are you getting? Also, can you please confirm that the Python you're using is linked against your new OpenSSL? `python -c "import ssl; print ssl.OPENSSL_VERSION"`.

[2016-09-06 04:49] binrush commented on #264
With `value=20`, we are getting problems. Streams count starts growing and finally, workers start dying with `Hard time limit (900s) exceeded`. Please take a look at this log from `2016-09-04 13:00:31,962`

[logs.zip](https://github.com/Lukasa/hyper/files/455936/logs.zip)

[2016-09-21 06:04] hansroh opened #281 "HTTPUpgrade is not working"
In common.connection.HTTPConnection.get_response (), there is no creating new request.

I think it should be added last 2 lines:

self._conn._connect_upgrade(e.sock)
# stream id 1 is used by the upgrade request and response
# and is half-closed by the client

stream_id = self._conn.request (*self._last_requested_args)
return self._conn.get_response (stream_id)

[2016-09-21 07:44] Lukasa commented on #281
We shouldn't need to create a new request: the `_connect_upgrade` should be sufficient. What problem are you bumping into exactly? Can you provide a traceback, please?

[2016-09-21 08:40] hansroh commented on #281
I misunderstood.
Very helpful for me, thanks.

[2016-09-22 17:53] watfordxp commented on #227
I too experienced this, the culprit being using a version of Python built against an old OpenSSL.

The hyper website says the requirement is any version of OpenSSL greater than 1.0.1, but this I don't think is true. I was running "OpenSSL 1.0.1e-fips 11 Feb 2013" and upgraded to "OpenSSL 1.0.2i  22 Sep 2016" to solve the issue.

Note that it is not enough to only upgrade the OS, you also need to r

[2016-09-23 09:31] Lukasa commented on #227
There are multiple possible ways this can fail, but it depends on what you need. NPN was added in 1.0.1, but ALPN was not added until 1.0.2. If you need ALPN, then yes, 1.0.2 is the lowest that will work.

[2016-09-23 09:59] vojd11 commented on #263
same error with python3
[code]

[2016-09-23 10:01] Lukasa commented on #263
Can you please print out the result of `pip freeze` on that system?

[2016-09-23 20:40] frostli commented on #38
I'm running python 2.7.3 and got error from the following:
[code]
from
[code]
I already have pyOpenSSL==16.0.0 and service-identity==16.0.0 and running with the latest master.

[2016-09-24 17:05] Lukasa commented on #38
Hrm. How familiar are you with pdb? I'd like to know what was going on there.

[2016-09-25 05:57] james-huang opened #282 "http20 response and stream have no way of reading 0-or-more bytes in a non blocking manner"
Really appreciate the work put in on hyper @Lukasa. First of I would like to say I'm trying to write an Alexa integration in python and I dont know what I'm doing. Alexa wants http2, and hyper is the only http2 python library out there.

Alexa Integrations have 2 way communication on the **same connection**. There is a downchannel stream that Alexa will occasionally push directives to that we need

[2016-09-25 22:14] yeralin opened #283 "Opening connection with HTTPS Schema fail"
Whenever I try to HTTP20Connection('https://example.com'), it throws me an error:

AttributeError: 'NoneType' object has no attribute 'strip'

[2016-09-26 03:43] binrush commented on #264
For now, we switched from gevent celery workers to 'prefork', so each worker is separate process that has its own connection. And we still have problems with timeouts. With prefork model, celery prints traceback of where program stucks, here it is

[code]

[2016-09-26 07:38] Lukasa commented on #283
Can you please provide the full traceback?

[2016-09-26 07:39] Lukasa commented on #283
Oh, nevermind.

The documentation for [HTTP20Connection](https://hyper.readthedocs.io/en/latest/api.html#hyper.HTTP20Connection) states:

That means you should use `HTTP20Connection('example.com', port=443)`.

[2016-09-26 07:39] #283 closed

[2016-09-26 07:41] Lukasa commented on #264
Ok, that's very interesting. This is still us getting stuck waiting for a response that seems not to be coming. For whatever reason, it seems like the socket timeout itself isn't firing, which suggests that there is still data coming in on the connection, but for whatever reason the total time spent processing the response exceeds the soft time out.

Is it possible for you to play about with this

[2016-09-26 08:00] Lukasa commented on #282
Thanks for this investigative work! This is a really good start. =D

So the discussion here turns on how we expect the HTTP/2 connection to behave. Right now when an attempt is made to read data for a response, a number of internal buffers are processed which may be able to satisfy the read. If they can't, we then call `recv_into` on the socket. Specifically, `_recv_cb` is configured in such a way

[2016-09-26 08:00] #282 closed

[2016-09-26 19:02] citizenrich commented on #227
Thanks, @Lukasa and @watfordxp and @lithiumlab. This is very, very helpful.

[2016-09-27 23:42] ZeeMuFaSaa commented on #263
Having the same issue when the doc example code as pawelmhm above. Here is a 'pip freeze' output dump. Using python 3.4.3 in ubuntu 14.04.

Brlapi==0.6.1
CherryPy==8.1.0
Magic-file-extensions==0.2
Mako==0.9.1
MarkupSafe==0.18
PyAudio==0.2.9
apturl===0.5.2ubuntu4
chardet==2.2.1
checkbox-ng==0.3
checkbox-support==0.2
colorama==0.2.5
command-not-found==0.3
decorator==4.0.9
defer==1.0.6
devscripts===2

[2016-09-27 23:59] ZeeMuFaSaa commented on #263
Additionally, consistently get the following error when trying another example from the doc:

Python 3.4.3 (default, Sep 14 2016, 12:36:27)
[GCC 4.8.4] on linux
Type "help", "copyright", "credits" or "license" for more information.

#

However, if I use the HTTP20Connection class, then all works as advertised. It would appear that the HTTPConnection class is not connecting utilizing HTTP/2. The  s

[2016-09-28 06:14] fendouai opened #285 "Add a flag to connection and to response objects to find out connection type."
I can not get the http version from headers,how to get the http version when i use http2.

[2016-09-28 07:17] binrush commented on #264
@Lukasa actually, there was no socket timeout set, i've missed it at some moment, sorry. After returning it back (`socket.setdefaulttimeout(60)`), I get following instead of `SoftTimeLimit`:

[code]

[2016-09-28 07:26] Lukasa commented on #263
It should. And indeed, on a quick test shows that it does. The error you're talking about in the most recent comment seems to be fundamentally a result of the fact that we are not reading the response until asked the first time, which means that we don't yet know that we're doing HTTP/2 instead of HTTP/1.1. That example works with port 443, but does not work with port 80.

It seems fundamentally t

[2016-09-28 07:28] Lukasa opened #286 "Documentation proposes an example that does not work."
The quickstart guide includes this example:

[code]

This example is fundamentally flawed, because before you know you have a HTTP/2 connection you cannot safely send multiple requests down it. In the first instance, we can fix this by using port 443 in the constructor. We may also want to add a formalised API for working out what protocol version you're working with.

[2016-09-28 07:46] Lukasa commented on #264
So that suggests that we're looking for a response for whatever stream ID we're reading from, and we're never even receiving the headers for that response.

There are fundamentally two ways that can happen. The first way is that the server can really be never sending a HEADERS frame. We should be able to detect that by simply printing out every h2 event we see: if `ResponseReceived` is never print

[2016-09-28 07:48] Lukasa commented on #285
@fendouai If you call `type()` on the response object you're holding, that will give you the object, which will be either a `HTTP20Response` or a `HTTP11Response`. That is enough to know the version.

However, I think we should add a feature that lets you consult a flag.

[2016-09-28 08:10] fendouai commented on #285
Thank you.  And I think the flag which shows the version of the http is important.

[2016-09-28 08:14] nateprewitt commented on #285
Would you like to help contribute a patch for this @fendouai? If not, I'd be willing to pick this up.

[2016-09-28 08:20] fendouai commented on #285
I am trying to find the version. I am not familiar with the project yet.If I have a solution,I will try to contribute a patch for this.

[2016-09-28 09:20] #286 closed, assigned to nobody

[2016-09-29 02:22] binrush commented on #264
@Lukasa sure. Should I add some mode debug messages to hyper?

And returning to root problems, if server really does not send HEADERS frame for some streams, is it possible that in this case stream remains opened and id causes `TooManyStreamsError`?

[2016-09-29 07:14] Lukasa commented on #264
@binrush In answer to your question, yes, if no HEADERS frame is ever received then we'll consider the stream still to be open.

Yup, you'll want to add debug messages in `_single_read()`. If you add a logging statement just inside the `for event in events` loop that prints out `event`, that'd be fine I think.

[2016-10-03 17:52] simonw opened #288 "Is hyper still "a very early alpha"?"
The readme has said "_Please be warned: hyper is in a very early alpha. You will encounter bugs when using it. In addition, there are very many rough edges. With that said, please try it out in your applications: I need your feedback to fix the bugs and file down the rough edges_" for over six months now, but there has been a lot of active development on the project. Is that statement still accura

[2016-10-07 12:10] dimaqq commented on #288
Ping!

[2016-10-07 14:25] sigmavirus24 commented on #288
Hi @simonw and @dimaqq,

Please be patient. @Lukasa is on vacation right now and won't be back for a few more days. There's no need to ping those watching this repository since you will get an answer shortly.

[2016-10-08 17:52] lithiumlab opened #289 "Correctly closing a stream?"
1. **What is the proper way of closing a stream?**
   Upon a cancellation by the user i want to terminate and close as gracefully as possible all current requests without closing the connection to be ready for next set of requests to an external API which only allows 10 streams at a time. It seems some of them are getting stuck and pile up.

The application doesn't require some of those requests b

[2016-10-08 20:00] lithiumlab commented on #289
[code]

[2016-10-08 20:16] ramc88 commented on #93
Hi, i'm having this problem but i can't fix it, where should i increase flow control window size? I've tried setting it on network_buffer_size but still can not receive files bigger than 64k, and in the hyper library tried too

[2016-10-10 17:37] lithiumlab commented on #289
Another related question is:
Is it safe to ignore the Error raised by the intentional cancellation of requests?
How should i capture it as gracefully as possible?
The logs error doesn't seem be directly generated from the app code.

[code]

[2016-10-12 10:08] Lukasa commented on #288
@simonw Sorry about the absence. I wish GitHub had a way to set away messages. =(

This is a tricky question, mostly because I have _very_ complex feelings towards this library. It's definitely not an early alpha any more, but I'm not sure that people will get much joy out of using it in production: it has enough problems around concurrent use cases that I think it needs to be substantially refact

[2016-10-12 12:12] Lukasa commented on #289
You're right that you need to call `close()`. Your problem is that you're iterating over the `streams` dict, which gets updated with each call to `close()`. So what you need to do is this:

[code]

That way you avoid the issue.

As to EPIPE, you shouldn't ignore it: you should just stop processing once you hit it. EPIPE is raised when the remote peer has closed the connection but we haven't proces

[2016-10-12 12:12] #289 closed, assigned to nobody

[2016-10-12 12:14] Lukasa commented on #93
@ramc88 What specific problem are you having?

[2016-10-18 04:07] binrush commented on #264
Sorry for delay. Finally I've added debug messages you asked and got logs. If I understand correctly, stream `12797` is created, but no data recieved for it:

[code]

Then in a minute I get `Read Operation Timed Out` when reading response for this stream:

[code]

Full log is attached
[logs.zip](https://github.com/Lukasa/hyper/files/535247/logs.zip)

[2016-10-18 08:46] Lukasa commented on #264
@binrush I'm beginning to wonder if the best thing for us to do here is actually to dump out all sent and received data so that I can analyse it. Are you happy enough to do that from a privacy standpoint?

[2016-10-18 09:15] binrush commented on #264
@Lukasa actualy, there are some private information that we can not share. How are you going to make a dump? Is it possible for us to somehow 'cut' sensitive information from it?

[2016-10-18 09:16] Lukasa commented on #264
I was going to propose literally dumping the TCP streams from both sides, though in hindsight that's somewhat problematic. Ideally we'd have a pcap file but that's going to be quite a lot of work to obtain. So probably we're not well equipped to dump the data. Nevermind. =(

[2016-10-18 09:27] Lukasa commented on #264
So, here's the question: is there anything special about the failing streams? Now that you can reliably determine which streams are failing, you should take a look at those requests to see if there's anything in common about them.

If there _isn't_, then the problem is probably in the APNS backend and we should consider whether we need to make code changes to allow you to time out individual strea

[2016-10-18 13:25] moonlightheng opened #290 "how can I connect nginx-1.11.5 by http2.0"
well I start a nginx-1.11.5
when I connect the server by chrome and FireFox
I can see the access.log as follows
"GET / HTTP/2.0" 200 728 "-" "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_0) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/53.0.2785.143 Safari/537.36"

but when I use  these code:

context = ssl._create_unverified_context()
conn = HTTPConnection('xxx.com', 8443, True, None, False, cont

[2016-10-18 13:42] Lukasa commented on #290
Can you please provide me with the following information?
- the output from `python --version`
- the output from `python -c "import ssl; print(ssl.OPENSSL_VERSION)"`
- the output from `python -c "import platform; print(platform.platform())"`
- the output from `pip freeze`
- the output from `python -c "from cryptography.hazmat.backends.openssl import backend; print(backend.openssl_version_text())"`

[2016-10-19 02:50] moonlightheng commented on #290
here are outputs

python --version
Python 2.7.12 :: Anaconda 2.5.0 (x86_64)
python -c "import ssl; print(ssl.OPENSSL_VERSION)"
OpenSSL 1.0.2g  1 Mar 2016
python -c "import platform; print(platform.platform())"
Darwin-16.0.0-x86_64-i386-64bit
 pip freeze
abstract-rendering==0.5.1
alabaster==0.7.7
anaconda-client==1.2.2
appnope==0.1.0
appscript==1.0.1
argcomplete==1.0.0
astropy==1.1.1
Babel==2.2.0
b

[2016-10-19 08:21] Lukasa commented on #290
Ah, sorry, I see the problem.

You're using a context you created yourself, rather than ours. That means it doesn't do the protocol negotiation. Try changing your code to this:

[code]

That should resolve your issue.

[2016-10-19 10:54] moonlightheng commented on #290
@Lukasa yes you are right
that solve my problem
thank you a lot

[2016-10-19 10:54] #290 closed, assigned to nobody

[2016-10-24 23:57] persiaAziz-zz opened #291 "Hyper not stripping Connection header field"
Hyper sends TCP-FIN to the latest build of apache traffic server right after sending the request data if I mention 'Connection':'Keep-Alive' in my request header.

[2016-10-25 09:27] Lukasa commented on #291
@persiaAziz I'm afraid I'll need a little bit more information. Can you provide the code you're using please?

[2016-10-25 16:57] persiaAziz-zz commented on #291
[code]

[2016-10-25 16:59] persiaAziz-zz commented on #291
You can reproduce the issue with the above code. It is the Connection field in the header that causes the issue.

[2016-10-25 18:00] Lukasa commented on #291
@persiaAziz Do you get an exception in this code? I suspect you will.

[2016-10-25 18:10] persiaAziz-zz commented on #291
Yes I do @Lukasa it tells me 'stream forcefully closed' as I try to read the response

[2016-10-25 18:11] Lukasa commented on #291
Can you print the full stdout?

[2016-10-25 18:12] persiaAziz-zz commented on #291
`python3.5 h2client.py -p 443

Traceback (most recent call last):
  File "h2client.py", line 46, in <module>
    main()
  File "h2client.py", line 43, in main
    makerequest(args.port)
  File "h2client.py", line 31, in makerequest
    response = conn.get_response(req_id)
  File "/usr/local/lib/python3.5/dist-packages/hyper/common/connection.py", line 129, in get_response
    return self._conn.get

[2016-10-25 18:14] Lukasa commented on #291
Hrm. Can you run `pip install -U h2` and try again please? I'm interested to see if you can get a different exception.

[2016-10-25 18:24] persiaAziz-zz commented on #291
hmm now It actually complains about that field

`Traceback (most recent call last):
  File "h2client.py", line 46, in <module>
    main()
  File "h2client.py", line 43, in main
    makerequest(args.port)
  File "h2client.py", line 26, in makerequest
    request_id = conn.request('GET',url=site,headers=hdr)
  File "/usr/local/lib/python3.5/dist-packages/hyper/common/connection.py", line 121, in req

[2016-10-25 18:27] Lukasa commented on #291
Yup, that's what I thought.

So, the `Connection` header field is not allowed in HTTP/2. You should find this problem resolved if you remove it from your request. However, I'm going to consider this an open bug: hyper should strip it automatically anyway.

[2016-11-04 19:17] nateprewitt commented on #291
Just a bit more information on this. I upgraded to h2==2.5.0 today and my code using the `HTTP20Adapter` with requests stopped working. I went back and tested the current example in the hyper docs and it hits this issue as well. This is because a 'Connection' headers appears in Request's [default headers](https://github.com/kennethreitz/requests/blob/80634b2fad69ba5a88d4f0d94f44c7e4681db3ea/reques

[2016-11-04 19:24] Lukasa commented on #291
That's exactly what I'm suggesting. I'm happy for you to take a swing at it.

[2016-11-07 02:10] scribu opened #292 "Relationship with python-hyper"
While looking for HTTP/2 libraries, I encountered two libraries with "hyper" in the name (and even the same logo in the README):

* https://github.com/Lukasa/hyper (this one)
* https://github.com/python-hyper/hyper-h2

I understand that hyper-h2 is meant to be lower-level, yet I don't see it listed as a dependency in the higher-level hyper lib.

Is hyper deprecated?

[2016-11-07 07:45] Lukasa commented on #292
hyper-h2 is definitely a dependency of this library: [here it is](https://github.com/Lukasa/hyper/blob/development/setup.py#L81)!

This naming confusion is really annoying but it stems from how these things got to be. This library was the first one I wrote. When I encountered problems with code re-use, [hyperframe](https://github.com/python-hyper/hyperframe) and [hpack](https://github.com/python-h

[2016-11-07 07:45] #292 closed, assigned to nobody

[2016-11-08 15:18] nateprewitt commented on #291
This should now be resolved python-hyper/hyper-h2#382 on the master branch and available in hyper-h2's next release (2.6.0).

[2016-11-16 11:40] Erfa opened #293 "Does not work on Google App Engine"
It should theoretically be possible to get hyper to run on Google App Engine, since it's a pure python module. The error you get when trying is:
[code]

From what I can tell, this is caused by an `ImportError` in the `compat` module on line 14, which in turn is caused by `ImportError: No module named OpenSSL`.

Sure, we can fix this by installing pyOpenSSL, but then we get a new error: `ImportErro

[2016-11-16 11:59] Lukasa commented on #293
Yup, and that problem isn't going away. 2.7.5 doesn't expose anything _like_ enough TLS configuration for us to actually negotiate HTTP/2, so there ends up being little-to-no value in using hyper on that platform. =(

[2016-11-16 12:13] Erfa commented on #293
That's a bummer. But I hope it's only a matter of time until Google update their Python 2.7 environment to a more recent version, or (even better) starts supporting Python 3.

[2016-11-16 12:32] Lukasa commented on #293
Indeed, but until that time I don't think we can really consider this an open issue on hyper.

Thanks for the report though!

[2016-11-16 12:32] #293 closed, assigned to nobody

[2016-11-19 09:39] km-pg opened #294 "Streams example isn't working"
The streams example from the quickstart guide isn't working. I changed it a little, but still can't get it to work:

[code]

Here's the error I'm getting:
[code]

[2016-11-19 12:25] Lukasa commented on #294
I suspect if you look you'll find that `first`, `second`, and `third` are all `None`, meaning that HTTP/2 was never negotiated. The example definitely will not work in that case. =)

[2016-11-19 17:56] km-pg commented on #294
Ah, you are right. I thought it would be HTTP/2 because when you go to that URL in Chrome, the protocol in the Developer Tools shows h2. Is it possible that a GET would be HTTP/2 and a POST would not be?

[2016-11-19 18:03] km-pg commented on #294
I switched to using GET, but it still isn't doing HTTP/2 it seems. Why is it in Chrome by not in hyper?

[code]

returns None

[2016-11-19 18:18] km-pg commented on #294
Nevermind. I'm running into this issue:
https://github.com/Lukasa/hyper/issues/178

After installing python with pyenv, it worked.

[2016-11-19 18:23] km-pg commented on #294
Is there a way to tell if the connection is HTTP/2 before sending the first request?

[2016-11-19 20:08] Lukasa commented on #294
Nope: we delay connection setup as long as possible so you can only tell based on whether you have a stream ID or `None`.

[2016-11-19 20:08] #294 closed, assigned to nobody

[2016-11-28 14:37] OlofT opened #295 "KeyError: 'Nonexistent header key: :status'"
Getting an exception when doing multiple streams, perhaps is the connection being closed and this error is just a symptom of that?

trace:
    response = connection.get_response()
  File "/usr/local/lib/python2.7/site-packages/hyper/http20/connection.py", line 312, in get_response
    return HTTP20Response(stream.getheaders(), stream)
  File "/usr/local/lib/python2.7/site-packages/hyper/http20/res

[2016-11-28 14:38] Lukasa commented on #295
It's certainly *possible*, but it rather suggests that a deeper error is at work here. If the stream is getting closed then it shouldn't be locatable at all. Are you running this from multiple threads?

[2016-11-28 14:50] OlofT commented on #295
Ok! Good to know - will dig deeper.

No, it's only running from one thread.

[2016-11-28 14:51] Lukasa commented on #295
Yeah, so from one thread that's weird.

The easiest step at first is to use pdb to catch that error and see what `headers` is.

[2016-11-28 15:35] OlofT commented on #295
It seems to be due to the oldest stream not being finished when calling "response = connection.get_response()"

Perhaps am I misunderstanding the documentation?

I start 16 streams and then wait for all of them to return before sending again. The first time I call connection.get_response() everything is fine. Doing a simple print before: raise KeyError("Nonexistent header key: {}".format(key))
giv

[2016-11-28 15:39] Lukasa commented on #295
Ah, sorry, that's almost certainly the problem. `getresponse()` with no arguments really only works when you call it after each individual request. Otherwise it'll repeatedly return the same one. I think the documentation is confusing on that front. I highly recommend storing the stream IDs and using them to fetch responses.

[2016-11-28 15:43] OlofT commented on #295
Yes, thanks!

That was the problem, now things are working better!

And thanks for your hard work and quick replies!

[2016-11-28 15:43] #295 closed, assigned to nobody

[2016-11-28 15:43] Lukasa commented on #295
No problem! We could definitely be doing better with error messages here. =)

[2016-12-01 01:32] nateprewitt commented on #285
@Lukasa I've had this sitting for a while (9286249). If we still want it, I can open the PR. I wasn't sure if standard practice was truncating ".0" from HTTP/2 or if we even wanted "HTTP" in the version flag.

[2016-12-01 10:14] Lukasa commented on #285
I actually strongly recommend using the `enum` module and then using an `enum` to flag this. Let's pretend we're real programmers. ;)

[2016-12-07 17:40] Lukasa commented on #285
Resolved by #296.

[2016-12-07 17:40] #285 closed, assigned to nobody

[2016-12-28 16:23] lifei opened #299 "Unix domain socket support"
HTTP2 connections via unix domain socket should be supported.

[2017-01-12 15:13] laike9m opened #300 "The _remaining_capacity > _bytes_in_buffer check in bufsocket.py is unnecessary"
This is not an actual issue, but a possible tiny improvement.

**TL;DR**
I think this check `self._remaining_capacity > self._bytes_in_buffer` in [bufsocket.py#L141](https://github.com/Lukasa/hyper/blob/development/hyper/common/bufsocket.py#L141) is unnecessary.

Here's why.
From the definitions we know:
[code]

We also know that each time `self._bytes_in_buffer` increases, the increment is less t

[2017-01-12 15:14] Lukasa commented on #300
I suspect you're right. ;) Anyone who wants to apply this patch is welcome to.

[2017-01-12 15:16] laike9m commented on #300
I wonder how long do all the tests take to run, normally?

[2017-01-12 15:17] Lukasa commented on #300
For running the tests I recommend using tox, but you may have encountered a test hang. This project has CI, so you can simply open a PR if you'd prefer.

[2017-01-12 15:22] laike9m commented on #300
Could you give me an estimate? So that I know if tests indeed hang. `pytest-xdist` shows I'm using all 4 cores, I don't know whether using tox can speed it up.

[2017-01-12 15:24] Lukasa commented on #300
On my machine under tox it runs in 6 seconds. I think we encountered problems with coverage measurements and pytest-xdist so the tests as run by tox moved away from that style, but I guess we didn't update the Makefile.

[2017-01-12 15:25] laike9m commented on #300
OK I'll try tox to see if everything works.

[2017-01-18 11:47] hupantingxue commented on #291
How to work around it?

[2017-01-18 11:48] Lukasa commented on #291
@hupantingxue The easiest thing to do is just to install from the development branch for now.

[2017-01-18 14:42] #300 closed, assigned to nobody

[2017-01-19 15:30] chripede opened #304 "HTTPS proxy support"
Is this planned? I see that proxy support for http is included, but since almost every host only serves HTTP2 on https it seems kind of useless.

[2017-01-19 15:32] Lukasa commented on #304
"planned" is a tricky term.

This project is not hugely actively developed at the moment, primarily because my main focus right now is on rewriting urllib3 with an eye towards a HTTP/2 future. This means that I don't have any time to actively develop code for this library. However, I'm happy to code-review patches, including a patch that would add this functionality, so if you or someone else woul

[2017-01-27 19:05] johnmanong commented on #272
Did this get resolved?

[2017-01-27 19:42] Lukasa commented on #272
Depends what you mean by resolved. We haven't started raising a better error yet.

[2017-01-28 13:33] sigmavirus24 commented on #272
Well this AttributeError shouldn't appear though. So in a way it was resolved ;)

[2017-02-09 08:52] allanlei opened #306 "HTTP20Adapter object has no attribute 'poolmanager'"
Using `HTTP20Adapter` with `requests` and closing the session (with context manager) results in attribute error.

Usage:
[code]

Error:
[code]

Packages:
[code]

[2017-02-09 09:26] Lukasa commented on #306
Thanks for raising this! This is a bug caused by the fact that I didn't override the `close` method of the `HTTPAdapter`. It would be fixed by overriding `HTTP20Adapter.close` with the appropriate functionality (in this case, iterating the connections and closing them all).

This is not a high urgency issue for me right now (I'm working on a few big bits of functionality that aren't easily interru

[2017-02-21 04:10] r0fls opened #308 "First example from docs fails"
This fails due to time out in python 2 and 3:

[code]

It also fails when I try with the hyper-h2 server example (included below). It causes the server to produce the below:

[code]

For that test I used this:

[code]

**hyper-h2 server**
[code]

Any help is appreciated. I tried with python 3.5 and 2.7. Here is the hyper/hyper-h2 version info:

[code]

[2017-02-21 07:33] allanlei commented on #264
I started experiencing this also using `requests` + `hyper.contrib.HTTP20Adapter`.  The scenario is similar to @binrush, but using `hyper` via `requests.Session()` in a `celery` task with `gevent` workers.

The `requests.Session` is long lived attached to the `celery.Task` on instantiation.

In my case, my destination is Google's HTTP2 enabled load balancer with `flask` backend.  The endpoints are

[2017-02-21 08:17] Lukasa commented on #308
The problem with the first example is that `http2bin.org` is...uh...resting.

![Parrot Sketch](https://static4.businessinsider.com/image/47ff8e9314b9b95600bbe811-506-253/sonopia-founder-virtual-carrier-not-dead-just-resting.jpg)

So `http2bin.org` was hosted on Carina, which recently got all messy, and I haven't had a chance to rebuild it in any way. So right now the server just times out.

As to

[2017-02-21 08:26] Lukasa commented on #264
Hrm, it's another instance of weirdly seeming to have a stream left alive.

Out of interest, can you count how many exceptions you handle before you hit this error? I wonder if there's an issue with leaking them.

[2017-02-21 23:49] #308 closed, assigned to nobody

[2017-03-04 14:57] vfaronov opened #312 "Doesn’t work with h2c on nghttp2.org"
Not sure if the problem is in Hyper/h2 or in nghttp2, but `AssertionError` would suggest the former:

[code]

With tcpdump, I see the HTTP/1.1 upgrade dance, and I see nghttp2.org sending the HTML. I can attach the dump if you wish.

This is with Git master versions of Hyper and h2.

[2017-03-04 15:27] Lukasa commented on #312
Yup, that's a simple bug: we don't properly do a case-insensitive compare of the Connection header.

This would be a fairly easy bug to fix: are you interested in fixing it? The comparison is on line 216 of hyper/http11/connection.py

[2017-03-04 15:41] vfaronov commented on #312
I would gladly contribute a fix, but I think that line should be removed altogether. `Connection: upgrade` does not mean “connection is being upgraded”, it means “the `Upgrade` header must not be forwarded by an intermediary” (see [RFC 7230 § 6.7](https://tools.ietf.org/html/rfc7230#section-6.7) and [§ 6.1](https://tools.ietf.org/html/rfc7230#section-6.1)), and that has no bearing on Hyper. A comb

[2017-03-04 15:44] Lukasa commented on #312
You missed the relevant section of RFC 7230 section 6.7:

We are validating this for correctness. I'm quite happy to keep the check in.

[2017-03-04 15:49] vfaronov commented on #312
You’re putting that out of context :)

   field (Section 6.1) that contains an "upgrade" connection option, **in
   order to prevent Upgrade from being accidentally forwarded** by
   intermediaries that might not implement the listed protocols.

(emphasis mine)

`Connection: upgrade` is a requirement for the sender of 101, not for the receiver. Imagine a buggy server that for some reason forgets t

[2017-03-04 15:53] Lukasa commented on #312
Yes. Emphatically yes. Overwhelmingly yes.

A scenario in which the Connection header is not present is one in which either the server or intermediary did not adequately implement RFC 7230. If one of those middle devices did not properly implement RFC 7230 then the odds of them properly implementing RFC 7540 and RFC 7541 are approximately zero. This means that they'll run directly into our *much s

[2017-03-04 15:59] vfaronov commented on #312
I see your point. Will send a PR.

[2017-03-04 18:36] vfaronov opened #314 "HTTPHeaderMap naively splits on commas"
[`hyper.common.headers.canonical_form`](https://github.com/Lukasa/hyper/blob/04f32667c94fd745135f75d7c5340c87c67e9763/hyper/common/headers.py#L239):

This seems to be inspired by text from [RFC 7230 § 3.2.2](https://tools.ietf.org/html/rfc7230#section-3.2.2), but that permits *joining* field-values with commas, not *splitting* them.

This is most readily obvious with the `Date` header:

[code]

Bu

[2017-03-04 19:30] vfaronov commented on #304
@Lukasa

Does this mean that Hyper will essentially be obsoleted by urllib3 2.0?

[2017-03-04 20:27] Lukasa commented on #304
@vfaronov The answer is "it depends". Eventually, I'd like it to be, yes. But we're a very long way around from that.

Hyper still has an active and valuable role to play in the Python HTTP ecosystem, and I certainly won't prevent people from maintaining and improving Hyper in the long term. Indeed, I'm looking at adding some co-maintainers in future because I don't have a bunch of time to spend o

[2017-03-04 20:33] Lukasa commented on #314
Yeah, so we should definitely aim to do better here. Ideally, we'd adjust the API to only canonicalise headers we know that allow a list of values (which is what that section of the specification allows for). I'd be entirely happy to merge a change that restricts the canonicalisation to only the values we know can safely be canonicalised (which will cover all of the internal use-cases we need).

H

[2017-03-04 21:18] vfaronov commented on #314
That sounds OK, but there’s a further tradeoff to be made.

See, `Cache-Control` and `Warning` are lists of values alright (as in [RFC 7230 § 7](https://tools.ietf.org/html/rfc7230#section-7)) — problem is that the *values themselves* can contain commas, mostly by way of the RFC 7230 `quoted-string`.

`canonical_form` could be made to take `quoted-string` into account instead of naively splitting

[2017-03-04 21:57] Lukasa commented on #314
Yeah, we'd probably have to handle the fact that quoted strings exist. As a halfway house we could probably initially only canonicalise when we don't have a quoted string at all, and when we do just leave it alone. How does that sound?

[2017-03-04 21:58] #312 closed, assigned to nobody

[2017-03-04 21:59] vfaronov commented on #314
Do you mean “when the given value does not contain quoted strings” or “when the header’s grammar does not allow quoted strings”?